In [8]:
%run BreakSectionManager.ipynb
%run Util.ipynb
%run Constant.ipynb
%run Metric.ipynb
%run Operation.ipynb
%run Account.ipynb


class RocketRegression:
    
    def __init__(self, level, short, mid):
        self.level = level 
        self.short = short
        self.mid = mid
        
        
    def start_regression_on_one_stock(self,symbol):
        sectionManager = BreakSectionManager(symbol,self.level,self.short,self.mid)
        section_df = sectionManager.get_all_break_sections()
        
        metric = Metric(symbol,self.level, self.short, self.mid)
        
        init_money=100000
        stock_start_date = metric.get_stock_start_date()
        stock_end_date = metric.get_stock_end_date()
        account = Account(init_money,stock_start_date,stock_end_date,self.short,self.mid)
        operation = Operation(account,symbol,self.short,self.mid)
        
        for key,row in section_df.iterrows():
            start_date = row['d_s_date']
            end_date = row['d_e_date']
            
            start_datetime = to_datetime(start_date)
            end_datetime = to_datetime(end_date)

            buy_price = metric.get_cur_price(start_date)
            
            while(start_datetime<end_datetime):
                cur_date = start_datetime.strftime(YMD_format)
                    
                if(account.can_open_new_stock()==True):
                    if(operation.is_buy_point(cur_date)==True):
                        operation.open_opsition(cur_date)
                        
                        
                
                
                
        
        return section_df

In [9]:
regression = RocketRegression(level_day,5,10)

section_df = regression.start_regression_on_one_stock('SZ#000001')
section_df

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000001,2000-03-09,2000-03-16,3.55,3.14,2000-03-09,3.66,2000-03-16,3.12,0.569948,2.227979,2000-03-09,2000-03-16
1,SZ#000001,2000-05-25,2000-07-03,3.28,3.10,2000-06-08,3.39,2000-07-03,3.09,1.222222,2.111111,2000-05-25,2000-07-03
2,SZ#000001,2000-07-27,2000-08-22,3.34,3.18,2000-07-27,3.44,2000-07-27,3.12,1.176471,2.588235,2000-07-27,2000-08-22
3,SZ#000001,2000-10-10,2000-11-07,3.07,3.03,2000-11-06,3.16,2000-10-10,2.90,0.918367,1.734694,2000-10-10,2000-11-07
4,SZ#000001,2000-11-15,2000-11-29,3.22,3.11,2000-11-24,3.32,2000-11-29,3.10,1.315789,1.578947,2000-11-15,2000-11-29
5,SZ#000001,2001-01-11,2001-02-08,2.92,2.76,2001-01-11,3.03,2001-02-08,2.72,1.294118,2.352941,2001-01-11,2001-02-08
6,SZ#000001,2001-03-02,2001-03-23,2.99,3.25,2001-03-22,3.51,2001-03-02,2.83,5.909091,1.818182,2001-03-02,2001-03-23
7,SZ#000001,2001-04-13,2001-04-20,3.44,3.28,2001-04-16,3.51,2001-04-20,3.27,0.707071,1.717172,2001-04-13,2001-04-20
8,SZ#000001,2001-05-30,2001-06-08,3.31,3.16,2001-06-01,3.38,2001-06-08,3.11,0.777778,2.222222,2001-05-30,2001-06-08
9,SZ#000001,2001-10-23,2001-11-05,2.75,2.58,2001-10-24,2.85,2001-11-05,2.57,0.568182,1.022727,2001-10-23,2001-11-05
10,SZ#000001,2002-03-07,2002-03-26,2.07,2.04,2002-03-13,2.27,2002-03-07,1.89,2.040816,1.836735,2002-03-07,2002-03-26
11,SZ#000001,2002-04-30,2002-05-15,2.09,1.99,2002-05-09,2.20,2002-04-30,1.94,1.392405,1.898734,2002-04-30,2002-05-15
12,SZ#000001,2002-06-21,2002-07-10,2.19,2.82,2002-06-28,3.10,2002-06-21,2.03,10.581395,1.860465,2002-06-21,2002-07-10
13,SZ#000001,2002-07-23,2002-08-12,3.03,2.93,2002-07-31,3.14,2002-07-23,2.84,0.873016,1.507937,2002-07-23,2002-08-12
14,SZ#000001,2002-08-20,2002-09-05,3.19,3.07,2002-09-04,3.23,2002-08-20,3.02,0.533333,2.266667,2002-08-20,2002-09-05
15,SZ#000001,2003-01-14,2003-02-13,2.11,2.06,2003-01-29,2.20,2003-01-14,1.84,0.849057,2.547170,2003-01-14,2003-02-13
16,SZ#000001,2003-03-21,2003-04-24,2.06,2.25,2003-04-17,2.74,2003-03-21,1.98,11.525424,1.355932,2003-03-21,2003-04-24
17,SZ#000001,2003-11-20,2003-12-19,1.35,1.39,2003-12-12,1.57,2003-11-20,1.25,3.928571,1.785714,2003-11-20,2003-12-19
18,SZ#000001,2004-01-06,2004-02-25,1.62,1.86,2004-02-23,2.14,2004-01-12,1.52,7.428571,1.428571,2004-01-06,2004-02-25
19,SZ#000001,2004-03-17,2004-03-29,2.10,1.92,2004-03-18,2.14,2004-03-29,1.91,0.425532,2.021277,2004-03-17,2004-03-29
20,SZ#000001,2004-05-31,2004-06-07,1.69,1.64,2004-06-02,1.80,2004-06-07,1.63,1.641791,0.895522,2004-05-31,2004-06-07
21,SZ#000001,2004-09-15,2004-09-27,1.37,1.36,2004-09-22,1.60,2004-09-15,1.29,4.791667,1.666667,2004-09-15,2004-09-27
22,SZ#000001,2004-11-19,2004-11-29,1.13,1.04,2004-11-19,1.16,2004-11-29,1.04,0.612245,1.836735,2004-11-19,2004-11-29
23,SZ#000001,2005-04-07,2005-04-22,0.82,0.77,2005-04-11,1.13,2005-04-07,0.70,4.558824,1.764706,2005-04-07,2005-04-22
24,SZ#000001,2005-06-08,2005-06-30,0.90,0.76,2005-06-10,1.01,2005-06-08,0.76,1.718750,2.187500,2005-06-08,2005-06-30
25,SZ#000001,2005-07-22,2005-09-20,0.76,0.81,2005-08-11,0.90,2005-07-22,0.73,2.545455,0.545455,2005-07-22,2005-09-20
26,SZ#000001,2005-11-25,2005-12-05,0.75,0.68,2005-11-25,0.75,2005-12-05,0.68,0.000000,2.058824,2005-11-25,2005-12-05
27,SZ#000001,2005-12-14,2006-01-16,0.79,0.80,2006-01-06,0.90,2005-12-14,0.74,2.894737,1.315789,2005-12-14,2006-01-16
28,SZ#000001,2006-02-06,2006-03-02,0.88,0.92,2006-02-27,1.05,2006-02-10,0.81,5.000000,2.058824,2006-02-06,2006-03-02
29,SZ#000001,2006-03-29,2006-04-24,0.90,0.90,2006-04-11,1.04,2006-03-31,0.84,4.000000,1.714286,2006-03-29,2006-04-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,SZ#000001,2014-04-08,2014-04-18,5.89,5.62,2014-04-10,6.08,2014-04-18,5.57,1.010638,1.702128,2014-04-08,2014-04-18
75,SZ#000001,2014-06-11,2014-07-09,6.18,6.16,2014-06-13,6.67,2014-06-11,6.10,3.951613,0.645161,2014-06-11,2014-07-09
76,SZ#000001,2014-07-24,2014-08-07,6.51,6.75,2014-07-29,7.17,2014-07-24,6.24,5.454545,2.231405,2014-07-24,2014-08-07
77,SZ#000001,2014-10-30,2014-11-17,6.70,6.93,2014-11-11,7.54,2014-10-30,6.55,6.461538,1.153846,2014-10-30,2014-11-17
78,SZ#000001,2014-11-28,2014-12-24,8.10,9.23,2014-12-22,10.68,2014-11-28,7.22,9.181495,3.131673,2014-11-28,2014-12-24
79,SZ#000001,2015-03-12,2015-03-25,9.60,9.81,2015-03-17,10.43,2015-03-12,9.24,2.757475,1.196013,2015-03-12,2015-03-25
80,SZ#000001,2015-04-07,2015-05-05,11.13,12.80,2015-04-17,14.16,2015-04-07,10.67,6.824324,1.036036,2015-04-07,2015-05-05
81,SZ#000001,2015-05-22,2015-05-28,13.14,12.50,2015-05-27,13.67,2015-05-28,12.44,1.235431,1.631702,2015-05-22,2015-05-28
82,SZ#000001,2015-06-08,2015-06-15,13.99,12.85,2015-06-08,14.12,2015-06-15,12.83,0.218487,1.949580,2015-06-08,2015-06-15
83,SZ#000001,2015-10-12,2015-11-02,8.94,8.86,2015-10-26,9.42,2015-10-12,8.67,2.191781,1.232877,2015-10-12,2015-11-02
84,SZ#000001,2015-11-05,2015-11-24,9.64,9.81,2015-11-09,10.73,2015-11-05,9.20,3.707483,1.496599,2015-11-05,2015-11-24
85,SZ#000001,2016-02-17,2016-02-25,8.04,7.64,2016-02-22,8.17,2016-02-25,7.58,0.680628,2.408377,2016-02-17,2016-02-25
86,SZ#000001,2016-03-04,2016-03-28,8.25,8.31,2016-03-22,8.70,2016-03-08,7.86,1.829268,1.585366,2016-03-04,2016-03-28
87,SZ#000001,2016-05-31,2016-06-13,8.37,8.19,2016-05-31,8.39,2016-05-31,8.13,0.190476,2.285714,2016-05-31,2016-06-13
88,SZ#000001,2016-06-22,2016-08-22,8.44,9.11,2016-08-15,9.51,2016-06-24,8.23,12.738095,2.500000,2016-06-22,2016-08-22
89,SZ#000001,2016-10-24,2016-11-02,8.95,8.78,2016-10-24,9.01,2016-11-02,8.76,0.882353,2.794118,2016-10-24,2016-11-02
90,SZ#000001,2016-11-14,2016-12-15,8.93,8.96,2016-11-28,9.49,2016-11-14,8.87,7.088608,0.759494,2016-11-14,2016-12-15
91,SZ#000001,2017-01-24,2017-03-03,8.98,9.11,2017-02-21,9.33,2017-01-24,8.91,5.384615,1.076923,2017-01-24,2017-03-03
92,SZ#000001,2017-05-25,2017-06-16,8.81,8.73,2017-06-02,9.00,2017-05-25,8.49,1.194969,2.012579,2017-05-25,2017-06-16
93,SZ#000001,2017-06-22,2017-07-27,8.96,10.45,2017-07-25,11.13,2017-06-22,8.85,21.274510,1.078431,2017-06-22,2017-07-27
94,SZ#000001,2017-08-28,2017-09-19,11.21,10.99,2017-09-05,11.80,2017-09-19,10.94,2.145455,0.981818,2017-08-28,2017-09-19
95,SZ#000001,2017-10-18,2017-10-23,11.55,11.05,2017-10-19,11.58,2017-10-23,11.01,0.119048,2.142857,2017-10-18,2017-10-23
96,SZ#000001,2017-11-07,2017-11-28,11.78,13.56,2017-11-22,15.10,2017-11-07,11.11,10.121951,2.042683,2017-11-07,2017-11-28
97,SZ#000001,2018-01-15,2018-01-25,14.06,14.06,2018-01-19,14.99,2018-01-15,13.36,2.089888,1.573034,2018-01-15,2018-01-25
98,SZ#000001,2018-04-10,2018-04-27,11.28,10.71,2018-04-24,11.80,2018-04-27,10.49,1.394102,2.117962,2018-04-10,2018-04-27
99,SZ#000001,2018-07-20,2018-08-01,9.11,9.15,2018-07-24,9.59,2018-07-20,8.61,1.927711,2.008032,2018-07-20,2018-08-01
100,SZ#000001,2018-08-23,2018-09-05,9.36,10.05,2018-09-04,10.55,2018-08-23,9.23,5.534884,0.604651,2018-08-23,2018-09-05
101,SZ#000001,2018-09-21,2018-10-11,10.67,9.86,2018-09-28,11.27,2018-10-11,9.70,2.290076,3.702290,2018-09-21,2018-10-11
102,SZ#000001,2018-10-22,2018-11-09,11.15,10.55,2018-10-22,11.46,2018-11-09,10.40,0.636550,1.540041,2018-10-22,2018-11-09
103,SZ#000001,2019-01-09,2019-02-15,9.94,10.95,2019-02-13,11.41,2019-01-09,9.70,5.742188,0.937500,2019-01-09,2019-02-15