In [ ]:
import datetime as dt
import time
import logging as log
from multiprocessing import Pool, TimeoutError

%run BreakSectionManager.ipynb
%run Util.ipynb
%run Constant.ipynb
%run Metric.ipynb
%run Operation.ipynb
%run Account.ipynb
%run Policy_Loader.ipynb
%run Evaluation.ipynb


class RocketRegression:
    
    def __init__(self, policy_name):
        self.policy_name = policy_name
        self.policy_loader = Policy_Loader(self.policy_name)
        self.debug = self.policy_loader.enabled_log_debug()
        self.context = self.policy_loader.get_context()
        
        self.level = self.context['level']
        self.short = self.context['short']
        self.mid = self.context['mid']
        
    def start_regression_on_one_stock(self,symbol,regression_end_date):
        start = time.time()
        sectionManager = BreakSectionManager(symbol,self.context)
        section_df = sectionManager.get_all_break_sections()
        section_df = section_df[section_df['d_s_datetime']<to_datetime(regression_end_date)]
        
        metric = Metric(symbol,self.context)
        
        stock_start_date = metric.get_stock_start_date()
        stock_end_date = metric.get_stock_end_date()
        log.info('stock_start_date ' + stock_start_date+' stock_end_date:'+stock_end_date)
        
        account = Account(stock_start_date,stock_end_date,self.context,self.policy_name)
        operation = Operation(account,symbol,self.context,self.policy_name)
        
        for key,row in section_df.iterrows():
            start_date = row['d_s_date']
            end_date = row['d_e_date']
            
            start_datetime = to_datetime(start_date)
            end_datetime = to_datetime(end_date)

            buy_price = metric.get_cur_price(start_date)
            
            if(self.debug==True):
                print('\nsection '+start_date+'===>'+end_date)
            while(start_datetime<=end_datetime):
                cur_date = start_datetime.strftime(YMD_format)
                
                if(metric.is_today_open(cur_date)):
                    account.daily_audit(cur_date)

                    if(account.can_open_new_stock()==True):
                        if(operation.is_buy_point(cur_date)==True):
                            operation.open_opsition(cur_date)

                    if(account.has_shares()==True):
                        if(operation.is_sell_point(cur_date)==True):
                            operation.sell_stock(cur_date)

                start_datetime += dt.timedelta(days = 1)
                    
                        
        operation_df = operation.get_operations()
        
        evaluation = Evaluation(account,self.context)
        evaluation_df = evaluation.get_evaluation_report(symbol,stock_start_date,stock_end_date,
                                                        self.policy_name,operation_df)

        end = time.time()
        print(symbol+' regression cost time ' + str(round(end-start,1))+' seconds')
        return evaluation_df
    
    
    def start_regression(self,scale,regression_end_date,process_num):
        print('context:' + str(self.context))
        
        evaluation_df = pd.DataFrame(columns=evaluation_columns)
        symbols = get_symbols(scale)
        total = len(symbols) 
        
        pool = Pool(processes=process_num)
        tasks = []
        for symbol in symbols:
            task = pool.apply_async(self.start_regression_on_one_stock, (symbol,regression_end_date))
            tasks.append(task)
            
        for task in tasks:
            one_evaluation = task.get()
            evaluation_df = pd.concat([one_evaluation,evaluation_df], ignore_index=True, sort=False)
        
        pool.close()
        pool.join()
        
        evaluation_df['loss_times'] =evaluation_df['loss_times'].astype('int')
        evaluation_df['deal_count'] =evaluation_df['deal_count'].astype('int')
        return evaluation_df

In [71]:
regression = RocketRegression('rocket_break_baseline.json')

regression_end='2019-05-30'
scale=3
process_num=4
evaluation_df = regression.start_regression(scale,regression_end,process_num)
evaluation_df

context:{'short': 40, 'mid': 240, 'scale_start': 0, 'scale_end': 3, 'level': 'Day'}

year_returns
[-27.8, -21.52]
SZ#002506 regression cost time 7.2 seconds

year_returns
[19.45, 58.62, -13.79]
SZ#002343 regression cost time 11.4 seconds

year_returns
[47.25, 25.94]
SZ#002504 regression cost time 13.3 seconds

year_returns
[4.47, -12.91, 12.03]
SZ#002344 regression cost time 14.6 seconds

year_returns
[35.8, 15.74, -21.99]
SZ#002505 regression cost time 16.9 seconds

year_returns
[-20.68, -30.89, -26.07, 29.2, -22.2]
SZ#002181 regression cost time 18.0 seconds

year_returns
[-9.8, -13.89, 14.58, 6.9, -8.23, -12.56]
SZ#002182 regression cost time 18.5 seconds

year_returns
[-58.5, 4.15, 19.38, 59.13]
SZ#002183 regression cost time 19.0 seconds

year_returns
[-8.44, 22.72, 39.66, -21.29]
SZ#002345 regression cost time 20.7 seconds

year_returns
[3.1, -11.68, -12.0, -16.13, -23.03, 6.83, 33.12]
SZ#000803 regression cost time 26.3 seconds

year_returns
[-13.76, -23.8, 25.91, -38.23, 17.61, -40.58]
SZ#002346 regression cost time 22.3 seconds

year_returns
[11.41, 36.59]
SZ#002347 regression cost time 14.3 seconds

year_returns
[-19.33, -32.86, -68.86, 66.24, -26.6, -3.88, -18.81, 24.04, 14.83]
SZ#000582 regression cost time 36.2 seconds

year_returns
[-43.79, 12.74, -28.79, 5.47, 41.23, 29.57, -38.73]

year_returns
[-10.58, -8.55, 69.55, -42.62, 49.91, -7.52, -43.0, -6.92]
SZ#002184 regression cost time 30.0 seconds

year_returns
[38.81, 1.95, -0.96, -45.25, -42.71, 18.82, -12.47, -30.75]
SZ#000809 regression cost time 37.8 seconds

year_returns
[-17.21, -19.96, 38.97, -6.16, -17.39, -12.2, 47.5, 73.14, -20.41]

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:165: RuntimeWarning: invalid value encountered in double_scalars

SZ#000004 regression cost time 38.2 seconds
SZ#000806 regression cost time 38.6 seconds

year_returns
[32.09, 44.86, -18.88, -11.02, -14.35, -26.71, -23.47, -1.6, 13.83, -18.83]

year_returns
[15.7, -19.02, -17.67, -11.38, 37.35, 21.01]
SZ#002507 regression cost time 26.9 seconds
SZ#000573 regression cost time 40.4 seconds

year_returns
[-38.05, 21.37, 51.04, 38.16, -5.41, -26.34, -34.9, -9.32, 36.51, -16.86]

year_returns
[-18.12, 31.32, 68.62, -6.05, -14.44, 3.42, 22.56, 10.11, 24.29, -9.34]
SZ#002021 regression cost time 41.0 seconds
SZ#000001 regression cost time 41.3 seconds

year_returns
[46.47, 57.7, -16.14, -16.29, 25.36, 55.08, -27.14]
SZ#000005 regression cost time 29.4 seconds

year_returns
[-10.56, 1.96, 64.12, 75.85, 25.19, -13.07, -4.95, 23.58, -30.91, 15.79]
SZ#000807 regression cost time 45.5 seconds

year_returns
[-35.17, -19.3, -4.01, 51.44, -1.96, 11.65, -42.47, 3.38, -29.87]
SZ#002023 regression cost time 47.2 seconds

year_returns
[-21.1, 27.61, -54.92, -11.3, 11.44, -4.3, 35.92, 15.49, 28.89, -14.91, -11.46]
SZ#002020 regression cost time 49.6 seconds

year_returns
[-8.71, 37.11, 4.32, -79.09, -17.59, -24.78, 12.08, -26.89, 20.52, 10.82, 1.83]
SZ#000576 regression cost time 50.2 seconds

year_returns
[-15.84, -3.12, 39.44, 0.0]
SZ#002348 regression cost time 13.7 seconds

year_returns
[220.01, 102.18, 72.39, -22.05, -34.38, 9.32, 18.81, 2.31, 15.16]

year_returns
[-994.09, -75.84, 38.29, 83.18, -22.18, 32.87, 39.65, -0.85, -3.28, -26.48, 8.85, -26.98]
SZ#002022 regression cost time 53.8 seconds

year_returns
[31.13, 12.05, -18.83, 40.37, -50.22, 3.16, 14.94, -13.21]
SZ#000581 regression cost time 54.2 seconds
SZ#002185 regression cost time 35.6 seconds

year_returns
[-10.96, 8.97, 5.25, 24.87, 1.39, 4.92]
SZ#002509 regression cost time 16.7 seconds

year_returns
[0.0, 0.0, 0.0, 93.09, 80.97, 4.68, -13.62, -8.84, 34.12, 45.5, 9.23, 5.84, -14.71]
SZ#000002 regression cost time 58.4 seconds

year_returns
[-49.77, -27.27, -4.81, 10.68, -28.42]
SZ#002349 regression cost time 13.9 seconds

year_returns
[-42.29, -13.98, -1.14, 4.3, -7.73, -7.37, -10.0]
SZ#002186 regression cost time 23.6 seconds

year_returns
[16.67, 86.2, 62.92, 8.55, -19.66, 13.75, 4.17, -8.95, -26.61]
SZ#002024 regression cost time 43.6 seconds

year_returns
[44.09, -30.49, 31.26, 14.75, 18.2, -10.09]
SZ#002508 regression cost time 36.6 seconds

year_returns
[-12.11, -14.51, 6.89, -14.25, -9.41]
SZ#002350 regression cost time 10.2 seconds

year_returns
[-17.13, 88.64, -28.35, -22.98, -17.52, 31.17, 33.33, 0.0, -1.02, -4.75]
SZ#000584 regression cost time 49.3 seconds

year_returns
[-4.3, 41.74, 1.81, -27.27]
SZ#002510 regression cost time 19.5 seconds

year_returns
[-6.6, -11.82, 0.0, -4.55, 22.24]
SZ#002187 regression cost time 23.2 seconds

year_returns
[-12.48, -18.28, 27.25, 18.33, 29.8, -19.46, -7.1, 0.24, 42.92]

year_returns
[24.61, 31.71, -33.1, -6.02, -20.71, 29.78, -2.05, -28.28]
SZ#000585 regression cost time 34.9 seconds
SZ#000810 regression cost time 52.0 seconds

year_returns
[1.69, 5.51, 18.36, -33.45, -31.39, 18.36, 0.68]
SZ#002026 regression cost time 32.4 seconds

year_returns
[-16.12, 53.78, -19.92, 0.35, 0.52, 8.83, -22.48, -16.72, 21.34, -19.27]

year_returns
[-24.44, 98.62, 32.02, -17.79, -30.1, -42.84, 9.64, 4.86]
SZ#000007 regression cost time 34.7 seconds

year_returns
[-57.69, -43.98, 56.66, -31.94, 12.02, 54.66, -30.69, 7.28]
SZ#000006 regression cost time 41.8 seconds
SZ#000587 regression cost time 25.6 seconds
build SZ#000011 break sections
start to analyse Day level SZ#000011 all break sections...

year_returns
[26.49, -35.19, -32.94, 0.17, 66.08, -38.99]
SZ#002188 regression cost time 23.1 seconds

year_returns
[-13.58, 54.84, 38.54, -20.62, 45.85, -41.3, 17.84, 6.33, -32.5, -6.99]build SZ#000591 break sections
start to analyse Day level SZ#000591 all break sections...

SZ#000811 regression cost time 42.1 seconds

year_returns
[-12.11, -9.58, 4.48, 9.58, 7.94, -73.16]
build SZ#000818 break sections
start to analyse Day level SZ#000818 all break sections...
SZ#002511 regression cost time 23.7 seconds
build SZ#002030 break sections
start to analyse Day level SZ#002030 all break sections...

year_returns
[46.14, 13.84, -37.57, -31.24, -31.02, -13.28, 30.2, -117.33, -25.14]
SZ#002025 regression cost time 43.4 seconds
build SZ#002191 break sections
start to analyse Day level SZ#002191 all break sections...

year_returns
[-9.44, 10.35, 29.02, -35.25]
SZ#002351 regression cost time 16.4 seconds

year_returns
[-12.03, 16.85, 60.63, -14.83]
SZ#002512 regression cost time 15.7 seconds

year_returns
[-1.08, -28.22]
SZ#002513 regression cost time 7.2 seconds
build SZ#000012 break sections
start to analyse Day level SZ#000012 all break sections...

year_returns
[-39.11, 1.55, 44.35, -11.54, -0.83, -21.49, 12.04, 32.63, 0.0]

year_returns
[-4.28, 22.76, -38.9, 56.78, -24.89]
SZ#000812 regression cost time 43.1 seconds
SZ#002189 regression cost time 21.5 seconds
build SZ#000592 break sections
start to analyse Day level SZ#000592 all break sections...
build SZ#000819 break sections
start to analyse Day level SZ#000819 all break sections...

year_returns
[-14.3, -41.31, -23.86, 74.66, -20.67, -23.36, -43.25, -1.99, 19.4, 42.82, 12.64]
SZ#000586 regression cost time 47.6 seconds

year_returns
[11.22, -6.45, -36.06, -5.18, -15.4, 16.65, -44.65, 75.2, -18.28, 2.82, -16.62]

year_returns
[-15.41, 47.16, 9.81, 44.4, -9.79, 9.85, -16.09, -17.9]
SZ#002027 regression cost time 35.0 seconds
build SZ#002192 break sections
SZ#000813 regression cost time 37.0 seconds
start to analyse Day level SZ#002192 all break sections...

year_returns
[-16.44, 21.82, -28.93, 14.12, 1.54, 31.49, 44.82, 19.2, 0.0]
SZ#000008 regression cost time 42.2 seconds

year_returns
[16.07, 60.49, -27.23, 69.13, -84.71]
SZ#002190 regression cost time 21.8 seconds

year_returns
[6.83, 44.63, 31.67, -9.79, -33.71, 27.54, 46.44]
SZ#000815 regression cost time 35.5 seconds

year_returns
[7.86, -18.09, 3.41, 54.67, -19.76]

year_returns
[-6.11, 26.26, 23.27, -28.94, 44.87, -5.97, -2.47, 3.39]
SZ#002352 regression cost time 22.8 seconds

year_returns
[-3.28, 4.09, -20.6, 18.2]
SZ#002514 regression cost time 16.3 seconds
SZ#000589 regression cost time 38.8 seconds

year_returns
[-24.83, -9.55, 55.45, -37.34, -1.82, 13.16, -34.94, -20.99, 7.18, 4.28]
SZ#000009 regression cost time 42.2 seconds

year_returns
[-5.29, 25.36, 49.59, 4.04, 19.4, -3.06, 35.97, -28.96, -33.77]
SZ#000010 regression cost time 34.7 seconds

year_returns
[3.72, 65.0, 7.95, -18.89, -28.52, -3.5, 13.19, -18.22]

year_returns
[27.71, 70.85, -0.03, 0.0]
SZ#002354 regression cost time 14.8 seconds
SZ#000590 regression cost time 36.7 seconds

year_returns
[-14.98, 4.59, 25.96]
SZ#002515 regression cost time 13.5 seconds

year_returns
[6.75, 47.9, -13.36, -36.21, -16.56, -60.21]
SZ#002353 regression cost time 26.2 seconds

year_returns
[-5.12, 30.75, 40.69, -6.59, -9.73, -36.48, 5.58, 25.24, -18.14]
SZ#000816 regression cost time 41.4 seconds

year_returns
[19.78, 1.02, 30.44]

year_returns
[22.95, 68.92, 62.86, -18.02, 2.87, 1.21, -9.97, -7.34, 26.28, -0.92, -4.54, -25.53]
SZ#002516 regression cost time 13.4 seconds

year_returns
[81.39, 42.44, -14.08, 12.44, 12.63, -13.42, -18.19, -12.26, 3.88]
SZ#002028 regression cost time 53.4 seconds
SZ#002029 regression cost time 46.0 seconds

year_returns
[16.98, -15.4, 20.77, -1.02, 15.42, -14.49]
SZ#002031 regression cost time 29.0 seconds

year_returns
[16.57, -0.02, -11.53]
SZ#002355 regression cost time 18.6 seconds

year_returns
[-3.02, 29.09, -5.22, 40.9, -18.32, -17.31]
SZ#002191 regression cost time 39.1 seconds

year_returns
[-27.95, -12.26, -7.18, -45.13, -1.49, -12.66, 0.26, -15.45]
SZ#002193 regression cost time 25.7 seconds

year_returns
[19.82, 36.99, 43.3, 34.87, -11.49, -4.42, -7.5]
SZ#000593 regression cost time 30.1 seconds

year_returns
[-17.73, -7.07, 55.47, 6.61, -11.28]
SZ#002517 regression cost time 12.6 seconds

year_returns
[33.04, 23.86, 12.19, 9.02, 6.05, 2.71]
SZ#002192 regression cost time 42.2 seconds

year_returns
[0.0, -16.47, 26.27, 47.16, -14.33]
SZ#002356 regression cost time 17.9 seconds

year_returns
[-31.54, -19.24, -0.49, 13.03, -8.13, -14.0]
SZ#002194 regression cost time 22.8 seconds

year_returns
[-12.38, 1.38, 56.94, -49.69, 4.87, -20.89, -9.56, 6.78, -5.01, -39.4]
SZ#000595 regression cost time 31.8 seconds

year_returns
[5.28, 43.97, -5.06, -15.53, -21.38, 51.01, 46.75]

year_returns
[-30.23, 32.13, 61.33, -27.82, -5.98, -32.78, -16.2, -3.74, -1.77]
SZ#000821 regression cost time 31.1 seconds
SZ#000014 regression cost time 41.2 seconds

year_returns
[-11.66, 5.28, 38.94, -3.62, -13.73, -9.56, -8.75, 20.8, 11.74, 16.17]
SZ#000820 regression cost time 39.7 seconds

year_returns
[7.24, 17.72, -53.12, -11.2, 0.0, 20.21, 17.05]
SZ#000017 regression cost time 21.8 seconds

year_returns
[96.82, 27.81, 8.69, -15.15, -32.83, 29.17]

year_returns
[-10.98, 14.27, 50.26, -60.98, 5.68, 14.79, 40.21, -45.51, -14.25]
SZ#000818 regression cost time 61.5 seconds
SZ#000012 regression cost time 57.1 seconds

year_returns
[15.15, -13.23, 8.34, -23.51, 43.77, 14.32, 30.01]
SZ#002030 regression cost time 61.2 seconds

year_returns
[-83.83, -7.45, -10.71, 27.77, 52.36, 23.06]
SZ#000592 regression cost time 56.4 seconds

year_returns
[-8.21, 45.89, -47.34, 3.95, -8.74, -3.98, 19.53, 53.28, 1.26]
SZ#000016 regression cost time 37.5 seconds

year_returns
[64.01, 57.87, -12.27, 7.62, -16.94, 35.14]

year_returns
[-12.38, -20.21, 12.61, 46.62, -19.34, -29.69, -15.79, 12.65, -6.77, -15.78]
SZ#000819 regression cost time 57.2 seconds
SZ#000011 regression cost time 66.0 seconds

year_returns
[7.93, 49.83, -42.3, 5.95, 32.06, -28.57, -7.24, 17.24]
SZ#002033 regression cost time 34.8 seconds

year_returns
[30.46, 34.32, -32.05, -5.47, -6.43, 8.0, 22.43, 12.85, -21.44]
SZ#000591 regression cost time 67.4 seconds

year_returns
[-8.88, -8.1, -34.15, -11.84, 57.31, -35.25, 0.79, 11.39, 26.64, -1.12]
SZ#000822 regression cost time 26.8 seconds

year_returns
[62.96, 96.42, 54.42, 62.3, -40.24, 2.85, -22.79, 13.44, 19.13]

year_returns
[69.59, 86.94, -71.74, 27.5, 14.57, 3.34, -9.52, 28.24, 10.86, 0.61, -12.29]
SZ#000596 regression cost time 31.2 seconds
SZ#002032 regression cost time 50.3 seconds

,symbol,start_date,end_date,policy_name,short,mid,max_drawdown,avg_year_return,loss_times,year_regular_return,mean_year_return,std_year_return,mean_month_return,std_month_return,profit_month_rate,win_rate,mar,sharp,deal_count
0,SZ#000822,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,56.23,4.65,4,23.31,-0.321000,27.524012,1.642222,14.364033,51.11,40.00,0.08,-0.120658,10
1,SZ#000596,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,190.00,4315.97,2,15147.41,27.610000,44.632038,17.947321,64.628241,57.14,66.67,22.72,0.551398,6
2,SZ#000017,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,50.88,47.51,0,277.11,-0.300000,25.858935,2.811071,22.412777,42.86,100.00,0.93,-0.127615,4
3,SZ#002517,2010-12-07,2019-02-18,rocket_break_baseline.json,40,240,49.99,17.50,1,119.64,5.200000,29.483000,6.582105,34.920967,42.11,33.33,0.35,0.074619,3
4,SZ#002356,2010-02-09,2019-02-18,rocket_break_baseline.json,40,240,55.21,18.10,1,83.20,8.526000,27.510566,2.621200,16.106324,60.00,33.33,0.33,0.200868,3
5,SZ#002194,2007-12-07,2019-02-18,rocket_break_baseline.json,40,240,55.53,-6.54,3,-27.07,-10.061667,15.424943,-1.403030,12.771435,39.39,16.67,-0.12,-0.846789,6
6,SZ#002033,2004-08-25,2019-02-18,rocket_break_baseline.json,40,240,58.76,12.74,1,44.56,4.362500,30.265678,1.898600,13.916222,54.00,71.43,0.22,0.045018,7
7,SZ#000821,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,63.10,51.55,3,212.09,15.005714,31.348872,5.451081,20.082751,67.57,50.00,0.82,0.382971,6
8,SZ#000595,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,71.05,-1.48,3,-8.41,-6.696000,29.045932,0.129250,15.748858,45.00,33.33,-0.02,-0.333816,9
9,SZ#000016,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,60.99,20.88,2,79.66,6.182222,30.413793,3.148654,17.546219,53.85,62.50,0.34,0.104631,8
10,SZ#002516,2010-12-07,2019-02-18,rocket_break_baseline.json,40,240,47.27,28.91,0,114.26,17.080000,14.894684,5.800000,21.911654,62.50,100.00,0.61,0.945304,3
11,SZ#002355,2010-02-09,2019-02-18,rocket_break_baseline.json,40,240,66.73,-0.94,2,-2.78,1.673333,14.126324,0.913043,15.889748,39.13,33.33,-0.01,-0.093914,3
12,SZ#002193,2007-12-07,2019-02-18,rocket_break_baseline.json,40,240,67.44,-8.29,6,-50.75,-15.232500,14.951411,-2.668333,13.670532,30.00,12.50,-0.12,-1.219450,8
13,SZ#002032,2004-08-17,2019-02-18,rocket_break_baseline.json,40,240,399.96,274.92,2,791.83,13.463636,42.060871,3.042532,46.038635,59.49,70.00,0.69,0.248774,10
14,SZ#000820,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,66.54,21.11,3,102.87,4.561000,17.235752,1.960400,17.162867,48.00,55.56,0.32,0.090568,9
15,SZ#000593,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,49.75,46.20,2,213.86,15.938571,23.386034,4.460606,15.906015,51.52,60.00,0.93,0.553261,5
16,SZ#000014,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,69.81,3.50,3,13.37,-2.784444,31.228157,0.826154,13.404443,50.00,44.44,0.05,-0.185232,9
17,SZ#002515,2010-12-03,2019-02-18,rocket_break_baseline.json,40,240,54.87,8.97,0,34.21,5.190000,20.476594,4.172941,22.511802,64.71,66.67,0.16,0.106951,3
18,SZ#002354,2010-02-09,2019-02-18,rocket_break_baseline.json,40,240,51.08,104.87,1,515.51,24.632500,33.469027,11.076500,34.397241,75.00,50.00,2.05,0.646344,2
19,SZ#002192,2007-12-05,2019-02-18,rocket_break_baseline.json,40,240,47.21,25.90,0,106.41,14.478333,11.637109,3.623750,19.436144,50.00,100.00,0.55,0.986356,6
20,SZ#002031,2004-08-16,2019-02-18,rocket_break_baseline.json,40,240,45.31,6.58,1,25.74,3.710000,16.266933,2.232424,17.019594,51.52,57.14,0.15,0.043647,7
21,SZ#000819,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,51.12,130.85,1,485.69,22.571667,34.984959,7.310000,21.011890,52.78,60.00,2.56,0.559431,5
22,SZ#000592,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,59.79,11.57,2,41.53,0.200000,47.417173,1.922703,17.709662,43.24,40.00,0.19,-0.059050,5
23,SZ#000012,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,56.88,724.17,1,3629.14,19.085000,45.157107,42.025484,225.012353,58.06,71.43,12.73,0.356201,7
24,SZ#002514,2010-12-03,2019-02-18,rocket_break_baseline.json,40,240,46.80,1.94,1,8.83,-0.397500,16.149866,2.110500,17.558700,45.00,50.00,0.04,-0.210373,4
25,SZ#002353,2010-02-05,2019-02-18,rocket_break_baseline.json,40,240,67.10,-4.83,4,-19.35,-11.948333,37.074325,-0.380882,8.507940,55.88,33.33,-0.07,-0.403199,6
26,SZ#002191,2007-12-05,2019-02-18,rocket_break_baseline.json,40,240,44.36,10.44,1,52.69,4.353333,24.807081,1.361852,14.996694,51.85,60.00,0.24,0.054554,5
27,SZ#002030,2004-08-09,2019-02-18,rocket_break_baseline.json,40,240,63.96,26.29,1,83.14,10.692857,23.266378,2.330638,16.005511,44.68,75.00,0.41,0.330643,8
28,SZ#000818,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,65.10,6.04,2,28.85,-0.723333,36.582417,2.936087,19.825363,52.17,55.56,0.09,-0.101779,9
29,SZ#000591,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,67.04,14.80,2,58.52,4.741111,22.895797,1.679623,17.313311,45.28,57.14,0.22,0.076045,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,SZ#000810,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,43.89,17.17,2,58.88,6.802222,23.214634,2.161786,15.105934,50.00,60.00,0.39,0.163786,10
71,SZ#000584,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,72.31,68.24,2,273.42,6.139000,35.774645,9.934902,49.878235,43.14,50.00,0.94,0.087744,6
72,SZ#000005,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,65.74,93.69,2,444.13,17.862857,36.956187,11.871714,46.265078,57.14,60.00,1.43,0.402175,5
73,SZ#002507,2010-11-23,2019-02-18,rocket_break_baseline.json,40,240,55.09,11.14,2,42.00,4.331667,23.553540,1.396857,12.404856,62.86,40.00,0.20,0.056538,5
74,SZ#002346,2010-01-28,2019-02-18,rocket_break_baseline.json,40,240,71.61,-5.95,2,-31.27,-12.141667,28.145929,-1.909333,19.323612,30.00,33.33,-0.08,-0.537970,6
75,SZ#002184,2007-11-16,2019-02-18,rocket_break_baseline.json,40,240,66.45,4.46,1,19.09,-3.185714,34.014521,1.291351,18.307040,37.84,57.14,0.07,-0.181855,7
76,SZ#002023,2004-07-21,2019-02-18,rocket_break_baseline.json,40,240,59.96,-2.81,3,-10.09,-7.367778,28.787848,0.588182,15.075064,50.91,36.36,-0.05,-0.360144,11
77,SZ#000809,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,49.07,16.32,3,69.66,0.033750,40.148193,2.938537,20.817551,41.46,28.57,0.33,-0.073883,7
78,SZ#000582,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,67.31,1.32,4,6.57,-7.247778,38.704609,-0.031628,17.360918,37.21,22.22,0.02,-0.264769,9
79,SZ#000004,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,78.80,-5.37,5,-23.74,-9.070000,29.712391,-0.433171,14.063755,51.22,27.27,-0.07,-0.406228,11
80,SZ#002506,2010-11-18,2019-02-18,rocket_break_baseline.json,40,240,65.11,-17.80,2,-108.30,-24.660000,4.440631,-0.066250,30.367603,25.00,0.00,-0.27,-6.228845,2
81,SZ#002345,2010-01-28,2019-02-18,rocket_break_baseline.json,40,240,36.29,11.62,0,42.40,8.162500,27.970854,3.759231,11.645604,61.54,66.67,0.32,0.184567,3
82,SZ#002183,2007-11-13,2019-02-18,rocket_break_baseline.json,40,240,48.97,24.95,2,106.82,6.040000,48.872240,4.941250,27.648135,45.83,60.00,0.51,0.062203,5
83,SZ#002022,2004-07-21,2019-02-18,rocket_break_baseline.json,40,240,312.49,938.19,2,2896.58,42.638889,79.109748,-5.536032,72.825143,53.97,66.67,3.00,0.501062,9
84,SZ#000807,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,50.90,149.01,1,628.79,14.700000,34.009287,6.494231,24.769765,53.85,75.00,2.93,0.344024,8
85,SZ#000581,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,97.57,-2.20,2,-9.27,-78.905000,291.126825,2.824531,33.414623,46.88,36.36,-0.02,-0.281338,11
86,SZ#000002,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,53.85,1661.13,1,5993.95,18.173846,35.099615,12.777200,62.256627,70.67,66.67,30.85,0.432308,6
87,SZ#002505,2010-11-18,2019-02-18,rocket_break_baseline.json,40,240,31.75,21.15,1,66.18,9.850000,29.341781,1.747143,10.946032,52.38,66.67,0.67,0.233455,3
88,SZ#002344,2010-01-26,2019-02-18,rocket_break_baseline.json,40,240,40.30,1.25,1,4.90,1.196667,12.788156,0.897778,13.862516,44.44,66.67,0.03,-0.141016,3
89,SZ#002182,2007-11-13,2019-02-18,rocket_break_baseline.json,40,240,48.10,-2.91,2,-16.55,-3.833333,11.717323,-0.518750,14.079440,37.50,33.33,-0.06,-0.583182,6
90,SZ#002021,2004-07-15,2019-02-18,rocket_break_baseline.json,40,240,62.47,8.83,3,41.18,1.620000,32.633790,1.370800,15.694360,52.00,50.00,0.14,-0.042287,8
91,SZ#000806,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,61.37,38.34,3,181.22,7.364444,35.771159,4.486905,16.777498,50.00,28.57,0.62,0.122010,7
92,SZ#000576,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,82.81,-2.09,3,-9.21,-6.398182,31.000886,0.040377,15.921613,37.74,54.55,-0.03,-0.303158,11
93,SZ#000001,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,42.90,46.99,2,229.90,11.237000,26.458558,4.865652,17.741377,65.22,62.50,1.10,0.311317,8
94,SZ#002504,2010-11-18,2019-02-18,rocket_break_baseline.json,40,240,47.40,80.34,0,197.47,36.595000,15.068446,4.515294,13.804209,76.47,100.00,1.69,2.229493,1
95,SZ#002343,2010-01-26,2019-02-18,rocket_break_baseline.json,40,240,44.78,46.89,0,245.66,21.426667,36.245447,8.445000,21.640976,64.29,66.67,1.05,0.508386,3
96,SZ#002181,2007-11-16,2019-02-18,rocket_break_baseline.json,40,240,59.45,-8.30,4,-45.92,-14.128000,24.540668,-0.622727,20.459903,31.82,16.67,-0.14,-0.697944,6
97,SZ#002020,2004-07-15,2019-02-18,rocket_break_baseline.json,40,240,65.80,2.46,2,10.44,0.123636,26.868331,0.973729,15.348986,49.15,54.55,0.04,-0.107054,11
98,SZ#000803,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,73.59,-1.05,4,-5.70,-2.827143,19.009753,2.113000,21.731458,56.67,42.86,-0.01,-0.306534,7
99,SZ#000573,2000-02-14,2019-02-18,rocket_break_baseline.json,40,240,81.77,0.71,6,3.38,-2.408000,24.677212,0.160000,12.206942,46.94,22.22,0.01,-0.219150,9

In [72]:
evaluation_df.describe()

,max_drawdown,avg_year_return,loss_times,year_regular_return,mean_year_return,std_year_return,mean_month_return,std_month_return,profit_month_rate,win_rate,mar,sharp,deal_count
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,65.836700,104.258300,2.080000,386.116700,2.875698,31.436639,3.146453,22.632750,49.727900,49.695000,1.123500,-0.055886,6.490000
std,45.725437,474.169524,1.368329,1682.160294,13.965953,28.480587,5.250323,23.440543,10.089462,21.345773,4.017316,0.781368,2.576094
min,31.750000,-17.800000,0.000000,-108.300000,-78.905000,4.440631,-5.536032,7.295313,25.000000,0.000000,-0.270000,-6.228845,1.000000
25%,49.580000,0.690000,1.000000,3.130000,-2.843214,23.253442,0.821553,14.736287,44.140000,33.330000,0.010000,-0.212567,5.000000
50%,59.620000,11.595000,2.000000,48.625000,3.352500,28.450264,2.190179,17.284208,50.000000,50.000000,0.210000,0.008137,7.000000
75%,66.587500,34.532500,3.000000,115.605000,9.764167,34.999395,4.366223,21.776507,55.972500,63.542500,0.675000,0.230766,8.250000
max,399.960000,4315.970000,6.000000,15147.410000,42.638889,291.126825,42.025484,225.012353,76.470000,100.000000,30.850000,2.229493,11.000000