In [11]:
%run ChanBiAnalyser.ipynb
        
chanBiAnalyser = ChanBiAnalyser('SZ#002871',level_day,'2018-07-25','2019-02-21',30,60)
chan_bi_df = chanBiAnalyser.get_chan_bi()
chan_bi_df

,index,symbol,date,turning_point,high,low,confirm,price,increase
0,1,SZ#002871,2018-07-25,top,21.35,20.71,YES,21.35,0.00
1,8,SZ#002871,2018-08-20,bottom,17.44,16.72,YES,16.72,-21.69
2,13,SZ#002871,2018-09-11,top,24.43,21.81,YES,24.43,46.11
3,16,SZ#002871,2018-10-11,bottom,23.17,21.87,YES,21.87,-10.48
4,19,SZ#002871,2018-10-23,top,23.93,23.01,YES,23.93,9.42
5,22,SZ#002871,2018-10-30,bottom,22.29,22.00,YES,22.00,-8.07
6,29,SZ#002871,2018-11-19,top,23.94,22.92,YES,23.94,8.82
7,32,SZ#002871,2018-11-28,bottom,21.20,20.90,YES,20.90,-12.70
8,39,SZ#002871,2018-12-25,top,28.80,24.37,YES,28.80,37.80
9,40,SZ#002871,2019-01-04,bottom,18.87,18.15,YES,18.15,-36.98
10,45,SZ#002871,2019-01-22,top,25.36,23.71,YES,25.36,39.72
11,48,SZ#002871,2019-02-01,bottom,19.88,18.77,YES,18.77,-25.99