In [7]:
%run ChanBiAnalyser.ipynb
%run ChanBiManager.ipynb
     
chanbi_manager = ChanBiManager()
chanBiAnalyser = chanbi_manager.get_analyser('SZ#000001',level_day,30,60)

chan_bi_df = chanBiAnalyser.get_chan_bis_between('2000-11-16','2000-12-28')
chan_bi_df

,index,symbol,date,turning_point,high,low,confirm,price,increase,datetime
0,55,SZ#000001,2000-10-19,bottom,2.97,2.90,YES,2.90,-7.05,2000-10-19
1,62,SZ#000001,2000-11-24,top,3.32,3.17,YES,3.32,14.48,2000-11-24
2,69,SZ#000001,2001-01-09,bottom,2.77,2.69,YES,2.69,-18.98,2001-01-09