In [ ]:
import pandas as pd


data = pd.DataFrame(columns=['date','profit_rate','account_money','year'])

data.loc[data.shape[0]]=['2004-05-13',0,100000,2004]
data.loc[data.shape[0]]=['2004-07-30',-6.84932,97070,2004]
data.loc[data.shape[0]]=['2004-09-27',-6.42202,94403,2004]
data.loc[data.shape[0]]=['2004-12-14',-4.58716,92548,2004]

data.loc[data.shape[0]]=['2005-01-31',-11.5044,87985,2005]
data.loc[data.shape[0]]=['2005-01-31',-11.5044,87985,2005]
data.loc[data.shape[0]]=['2005-03-14',-5.40541,85951,2005]
data.loc[data.shape[0]]=['2006-06-04',-7.40541,81951,2006]


data

In [ ]:
import pandas as pd
dir = '/Users/xinwang/stock/data/day/'
file_name=  'day_report_df.csv'

sections = pd.read_csv(dir+file_name)

sections['ampl'].shape

In [ ]:
bins = [-100,0,20,40,60,70,90,120,150,500]
cuts = pd.cut(sections['ampl'], bins)

def get_status(group):
    return {
        'count':group.count()*100.0/1942
    }
    

bins_count = sections['ampl'].groupby(cuts).apply(get_status).unstack()
bins_count

In [ ]:
sections[(sections['ampl']<=10) & (sections['ampl']>0)].shape

In [ ]:
114*100.0/sections.shape[0]

In [ ]:
sections.shape[0]

In [ ]:
from datetime import datetime
datetime.now().strftime('%Y-%m-%d_%H:%M')

In [4]:
import pandas as pd
import datetime as dt

day_dir='/Users/xinwang/stock/data/day/'
file_name='D_SZ#300168.txt'

k_columns = ['date','open','high','low','close','volume','amount']

stock_data = pd.read_csv(day_dir+file_name,header=None, names=k_columns)

period_type = 'W'
stock_data['date'] = pd.to_datetime(stock_data['date'])

stock_data.set_index('date',inplace=True)

w_data = stock_data.resample(period_type).last()

w_data['open'] = stock_data['open'].resample(period_type).first()
w_data['high'] = stock_data['high'].resample(period_type).max()
w_data['low'] = stock_data['low'].resample(period_type).min()
w_data['volume'] = stock_data['volume'].resample(period_type).sum()
w_data['amount'] = stock_data['amount'].resample(period_type).sum()

w_data.reset_index(inplace=True)
w_data['date'] = w_data['date'].apply(lambda x: x + dt.timedelta(days = -2))
w_data['datetime'] = w_data['date']
w_data['date'] = w_data['date'].apply(lambda x: x.strftime('%Y-%m-%d'))

w_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 8 columns):
date        422 non-null object
open        373 non-null float64
high        373 non-null float64
low         373 non-null float64
close       373 non-null float64
volume      422 non-null int64
amount      422 non-null float64
datetime    422 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 26.5+ KB

In [11]:
import pandas as pd
import datetime as dt

report_dir='/Users/xinwang/stock/data/report/'
report_columns = ['symbol','s_date','e_date','ampl','ma_per','periods']

day_report_df = pd.read_csv(report_dir+'day_report_df.csv')
week_report_df = pd.read_csv(report_dir+'week_report_df.csv')

In [27]:
import pandas as pd
import numpy as np

day_dir='/Users/xinwang/stock/data/day/'
k_columns = ['date','open','high','low','close','volume','amount']

data = pd.read_csv(day_dir+'D_SZ#002386.txt',header=None, names=k_columns)

def previous_series(cur_date,latest_n):
    cur_index = data[data['date']==cur_date].index.values[0]
    start_index = cur_index.astype(int)-latest_n+1

    latest_part = data[start_index:cur_index+1]

    return latest_part

def ma(cur_date,periods):
    periods_part = previous_series(cur_date, periods)['close']
    return round(periods_part.mean(),2)

def std(cur_date, periods):
    periods_part = previous_series(cur_date, periods)['close']
    return np.std(periods_part)


#     {参数 N: 2，250，20 }
# BOLL:MA(CLOSE,M); UB:BOLL+2*STD(CLOSE,M); LB:BOLL-2*STD(CLOSE,M);
def boll(cur_date):
    M=20
    price = data[data['date']==cur_date]['close'].values[0]

    boll = ma(cur_date, M)
    up_boll = boll + 2 * std(cur_date,M)
    low_boll = boll - 2 * std(cur_date,M)
    print(cur_date+ ' up boll:'+str(up_boll) +' low boll:'+str(low_boll))
    return boll
        

def is_on_boll(cur_date):
    boll_value = boll(cur_date)
    
    price = data[data['date']==cur_date]['close'].values[0]
    
    if(price>boll_value):
        return True
    else:
        return False
        
for date in ['2010-08-12','2010-08-13','2010-08-16','2010-08-17','2010-08-18',
            '2010-08-19','2010-08-20','2010-08-23']:
    print(date +' '+ str(is_on_boll(date)))
    print()

2010-08-12 up boll:11.38652704066211 low boll:9.95347295933789
2010-08-12 False

2010-08-13 up boll:11.350789980896971 low boll:10.08921001910303
2010-08-13 True

2010-08-16 up boll:11.324910612398103 low boll:10.195089387601897
2010-08-16 True

2010-08-17 up boll:11.3309566837323 low boll:10.269043316267702
2010-08-17 True

2010-08-18 up boll:11.281265226366186 low boll:10.398734773633814
2010-08-18 True

2010-08-19 up boll:11.239136464314056 low boll:10.520863535685946
2010-08-19 True

2010-08-20 up boll:11.25440083246528 low boll:10.485599167534719
2010-08-20 False

2010-08-23 up boll:11.28085960590429 low boll:10.41914039409571
2010-08-23 False

In [10]:
import pandas as pd
import datetime as dt

%run Util.ipynb

df = pd.read_csv('/Users/xinwang/stock/data/original_sections/Day/' + 'Day_sections_SZ#002335.txt')

df

,date,open,high,low,close,volume,amount,datetime,year,week
0,2009-12-22,4.11,4.15,3.78,3.79,15394098,540655296.0,2009-12-22,2009,52
1,2009-12-23,3.72,3.83,3.60,3.66,7503987,248632848.0,2009-12-23,2009,52
2,2009-12-24,3.62,3.76,3.47,3.73,7531113,244719856.0,2009-12-24,2009,52
3,2009-12-25,3.62,3.84,3.60,3.74,6295212,210265568.0,2009-12-25,2009,52
4,2009-12-28,3.71,3.78,3.67,3.77,4395912,146973184.0,2009-12-28,2009,53
5,2009-12-29,3.73,3.97,3.71,3.94,6123879,211568352.0,2009-12-29,2009,53
6,2009-12-30,3.89,3.93,3.74,3.74,4175616,142579472.0,2009-12-30,2009,53
7,2009-12-31,3.73,3.75,3.66,3.70,2789170,92342536.0,2009-12-31,2009,53
8,2010-01-04,3.72,3.84,3.70,3.77,3400896,115562232.0,2010-01-04,2010,1
9,2010-01-05,3.75,3.75,3.66,3.69,2587487,85612512.0,2010-01-05,2010,1
10,2010-01-06,3.70,3.77,3.64,3.69,2031051,67455744.0,2010-01-06,2010,1
11,2010-01-07,3.69,3.70,3.56,3.59,2299959,74990296.0,2010-01-07,2010,1
12,2010-01-08,3.56,3.60,3.50,3.55,1502127,47897104.0,2010-01-08,2010,1
13,2010-01-11,3.55,3.61,3.48,3.59,1633184,52206640.0,2010-01-11,2010,2
14,2010-01-12,3.60,3.70,3.56,3.66,2059776,67666232.0,2010-01-12,2010,2
15,2010-01-13,3.57,3.66,3.54,3.56,1565210,50550728.0,2010-01-13,2010,2
16,2010-01-14,3.61,3.70,3.57,3.67,1653510,54219228.0,2010-01-14,2010,2
17,2010-01-15,3.67,3.73,3.66,3.69,1399430,46376820.0,2010-01-15,2010,2
18,2010-01-18,3.68,3.76,3.68,3.75,1828432,61175880.0,2010-01-18,2010,3
19,2010-01-19,3.74,3.74,3.61,3.64,1580183,51779268.0,2010-01-19,2010,3
20,2010-01-20,3.64,3.64,3.39,3.41,1986551,62902752.0,2010-01-20,2010,3
21,2010-01-21,3.42,3.46,3.39,3.44,1112658,34397592.0,2010-01-21,2010,3
22,2010-01-22,3.42,3.42,3.30,3.33,1258625,38108032.0,2010-01-22,2010,3
23,2010-01-25,3.32,3.38,3.30,3.35,753195,22752262.0,2010-01-25,2010,4
24,2010-01-26,3.35,3.35,3.17,3.18,930900,27328458.0,2010-01-26,2010,4
25,2010-01-27,3.21,3.24,3.15,3.17,832999,23985816.0,2010-01-27,2010,4
26,2010-01-28,3.15,3.18,3.12,3.16,622358,17800526.0,2010-01-28,2010,4
27,2010-01-29,3.16,3.20,3.15,3.16,644533,18544364.0,2010-01-29,2010,4
28,2010-02-01,3.15,3.15,3.03,3.04,829849,23103230.0,2010-02-01,2010,5
29,2010-02-02,3.04,3.08,2.95,2.97,820248,22531088.0,2010-02-02,2010,5
...,...,...,...,...,...,...,...,...,...,...
2067,2018-12-28,2.93,2.95,2.90,2.91,3254380,9521931.0,2018-12-28,2018,52
2068,2019-01-02,2.93,2.93,2.89,2.91,3523100,10265646.0,2019-01-02,2019,1
2069,2019-01-03,2.90,2.95,2.90,2.92,3583013,10487171.0,2019-01-03,2019,1
2070,2019-01-04,2.90,3.03,2.88,3.03,6423825,19116712.0,2019-01-04,2019,1
2071,2019-01-07,3.03,3.08,3.01,3.08,8533461,26065444.0,2019-01-07,2019,2
2072,2019-01-08,3.06,3.12,3.05,3.09,6402454,19749376.0,2019-01-08,2019,2
2073,2019-01-09,3.09,3.39,3.08,3.20,21165473,67619072.0,2019-01-09,2019,2
2074,2019-01-10,3.16,3.19,3.12,3.13,12264618,38614660.0,2019-01-10,2019,2
2075,2019-01-11,3.13,3.16,3.11,3.16,7250863,22742802.0,2019-01-11,2019,2
2076,2019-01-14,3.15,3.17,3.12,3.13,5297340,16652990.0,2019-01-14,2019,3
2077,2019-01-15,3.13,3.18,3.13,3.17,5449436,17201094.0,2019-01-15,2019,3
2078,2019-01-16,3.17,3.18,3.14,3.15,4897593,15455991.0,2019-01-16,2019,3
2079,2019-01-17,3.16,3.16,3.10,3.11,6956903,21730784.0,2019-01-17,2019,3
2080,2019-01-18,3.11,3.13,3.08,3.11,5812500,18036892.0,2019-01-18,2019,3
2081,2019-01-21,3.12,3.14,3.11,3.14,4616690,14413868.0,2019-01-21,2019,4
2082,2019-01-22,3.14,3.14,3.08,3.10,4702268,14618145.0,2019-01-22,2019,4
2083,2019-01-23,3.10,3.10,3.07,3.09,4042551,12448481.0,2019-01-23,2019,4
2084,2019-01-24,3.09,3.12,3.06,3.10,4853744,14998717.0,2019-01-24,2019,4
2085,2019-01-25,3.10,3.11,3.05,3.06,5203189,16047770.0,2019-01-25,2019,4
2086,2019-01-28,3.08,3.09,3.01,3.02,5140700,15696779.0,2019-01-28,2019,5
2087,2019-01-29,3.02,3.02,2.92,2.94,8396814,24849896.0,2019-01-29,2019,5
2088,2019-01-30,2.93,2.96,2.91,2.92,3844975,11274883.0,2019-01-30,2019,5
2089,2019-01-31,2.91,2.95,2.85,2.89,6386735,18564798.0,2019-01-31,2019,5
2090,2019-02-01,2.91,3.02,2.90,3.01,6285040,18537058.0,2019-02-01,2019,5
2091,2019-02-11,3.00,3.06,2.98,3.06,9122107,27580554.0,2019-02-11,2019,7
2092,2019-02-12,3.05,3.11,3.04,3.11,10206904,31463748.0,2019-02-12,2019,7
2093,2019-02-13,3.10,3.17,3.08,3.15,13234801,41414620.0,2019-02-13,2019,7
2094,2019-02-14,3.30,3.47,3.25,3.46,78040785,266956448.0,2019-02-14,2019,7
2095,2019-02-15,3.31,3.52,3.26,3.46,68810007,229110240.0,2019-02-15,2019,7
2096,2019-02-18,3.38,3.50,3.38,3.47,40024100,137656080.0,2019-02-18,2019,8