In [9]:
import datetime as dt
import time
import logging as log
from multiprocessing import Pool, TimeoutError
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from IPython.display import display

%run BreakSectionManager.ipynb
%run Util.ipynb
%run Constant.ipynb
%run Metric.ipynb
%run Operation.ipynb
%run Account.ipynb
%run Policy_Loader.ipynb
%run Evaluation.ipynb
%run AssetPainter.ipynb


class RocketRegression:
    
    def __init__(self, policy_name):
        self.policy_name = policy_name
        self.policy_loader = Policy_Loader(self.policy_name)
        self.debug = self.policy_loader.enabled_log_debug()
        self.context = self.policy_loader.get_context()
        
        self.level = self.context['level']
        self.short = self.context['short']
        self.mid = self.context['mid']
       
        
    def build_operation_file_path(self,symbol,regression_end_date):
        return single_operations_report+'operations_'+symbol+'_'+str(self.short)+'_'+str(self.mid)+'_'+self.level+'_'+regression_end_date+'_'+operation_version+'.csv'
    
    def build_deal_file_path(self,symbol,regression_end_date):
        return single_deals_report+'deals_'+symbol+'_'+str(self.short)+'_'+str(self.mid)+'_'+self.level+'_'+regression_end_date+'_'+operation_version+'.csv'
        
    def build_asset_file_path(self,symbol,regression_end_date):
        return single_asset_report+'account_asset_'+symbol+'_'+str(self.short)+'_'+str(self.mid)+'_'+self.level+'_'+regression_end_date+'_'+operation_version+'.csv'
    
    def persist(self,account,operation_df,symbol,regression_end_date):
        account.get_asset_df().to_csv(self.build_asset_file_path(symbol,regression_end_date),index=False)
        account.deal_df.to_csv(self.build_deal_file_path(symbol,regression_end_date),index=False)
        operation_df.to_csv(self.build_operation_file_path(symbol,regression_end_date), index=False)
        
    def draw_asset(self,symbol,regression_end_date):
        if(self.policy_loader.enable_painter()==True):
            painter = AssetPainter()

            asset_file = self.build_asset_file_path(symbol,regression_end_date)
            painter.draw_month_profit_bars(asset_file)
            painter.draw_audit_asset_bars(asset_file)

            operation_file=self.build_operation_file_path(symbol,regression_end_date)
            painter.draw_operation_asset_bars(operation_file)
    
    def start_regression_on_one_stock(self,symbol,regression_end_date):
        start = time.time()
        sectionManager = BreakSectionManager(symbol,self.context)
        section_df = sectionManager.get_all_break_sections()
        section_df = section_df[section_df['d_s_datetime']<to_datetime(regression_end_date)]
        display(section_df)
        
        metric = Metric(symbol,self.context)
        
        stock_start_date = metric.get_stock_start_date()
        stock_end_date = metric.get_stock_end_date()
        log.info('stock_start_date ' + stock_start_date+' stock_end_date:'+stock_end_date)

        account = Account(self.context,self.policy_name)
        operation = Operation(account,symbol,self.context,self.policy_name)
        
        for key,row in section_df.iterrows():
            start_date = row['d_s_date']
            end_date = row['d_e_date']
            
            start_datetime = to_datetime(start_date)
            end_datetime = to_datetime(end_date)

            buy_price = metric.get_cur_price(start_date)
            
            if(self.debug==True):
                print('\n'+row['symbol']+' section '+start_date+'===>'+end_date)
            while(start_datetime<=end_datetime):
                cur_date = start_datetime.strftime(YMD_format)
                
                if(metric.is_today_open(cur_date)):
                    account.daily_audit(cur_date)

                    if(account.can_open_new_stock()==True):
                        if(operation.is_buy_point(cur_date)==True):
                            operation.open_opsition(cur_date)

                    if(account.has_shares()==True):
                        if(operation.is_sell_point(cur_date)==True):
                            operation.sell_stock(cur_date)

                start_datetime += dt.timedelta(days = 1)
                
        operation_df = operation.get_operations()
        self.persist(account,operation_df,symbol,regression_end_date)
        self.draw_asset(symbol,regression_end_date)
        
        evaluation = Evaluation(account,self.context,self.policy_name)
        evaluation_df = evaluation.get_evaluation_report(symbol,stock_start_date,stock_end_date,
                                                         operation_df)

        end = time.time()
        if(self.debug==False):
            print(symbol+' regression cost time ' + str(round(end-start,1))+' seconds')
        return evaluation_df
    
    
    def start_sync_regression(self,scale,regression_end_date):
        evaluation_df = pd.DataFrame(columns=evaluation_columns)
        symbols = get_symbols(scale,home)
        total = len(symbols) 
        
        for symbol in symbols:
            one_evaluation = self.start_regression_on_one_stock(symbol,regression_end_date)
            evaluation_df = pd.concat([one_evaluation,evaluation_df], ignore_index=True, sort=False)
           
        
        evaluation_df['loss_times'] =evaluation_df['loss_times'].astype('int')
        evaluation_df['deal_count'] =evaluation_df['deal_count'].astype('int')
        evaluation_df['rar'] =evaluation_df['rar'].astype('float')

        return evaluation_df
    
    def start_regression(self,scale,regression_end_date,process_num):
        print('context:' + str(self.context))
        
        if(process_num==1):
            return self.start_sync_regression(scale,regression_end_date)
        
        evaluation_df = pd.DataFrame(columns=evaluation_columns)
        symbols = get_symbols(scale,home)
        total = len(symbols) 
        
        pool = Pool(processes=process_num)
        tasks = []
        for symbol in symbols:
            task = pool.apply_async(self.start_regression_on_one_stock, (symbol,regression_end_date))
            tasks.append(task)
            
        for task in tasks:
            try:
                one_evaluation = task.get()
                evaluation_df = pd.concat([one_evaluation,evaluation_df], ignore_index=True, sort=False)
            except Exception as e:
                print(str(e))
        
        pool.close()
        pool.join()
        
        evaluation_df['loss_times'] =evaluation_df['loss_times'].astype('int')
        evaluation_df['deal_count'] =evaluation_df['deal_count'].astype('int')
        evaluation_df['rar'] =evaluation_df['rar'].astype('float')

        return evaluation_df

In [10]:
regression = RocketRegression('rocket_break_v6_enable_multip_stocks.json')

regression_end='2019-08-30'
scale=60
process_num=24

evaluation_df = regression.start_regression(scale,regression_end,process_num)
evaluation_df.describe()

context:{'short': 30, 'mid': 240, 'scale_start': 0, 'scale_end': 3, 'level': 'Day'}

/opt/conda/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/opt/conda/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/opt/conda/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/opt/conda/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

SZ#002506 regression cost time 4.9 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002346,2011-02-09,2011-03-29,11.82,10.73,2011-03-09,12.38,2011-03-29,10.63,0.801144,1.702432,2011-02-09,2011-03-29
1,SZ#002346,2013-08-30,2013-10-28,6.70,5.72,2013-09-10,7.30,2013-10-28,5.61,2.230483,4.052045,2013-08-30,2013-10-28
2,SZ#002346,2014-02-27,2014-11-11,7.89,11.07,2014-10-16,16.40,2014-03-11,6.71,23.188011,3.215259,2014-02-27,2014-11-11
3,SZ#002346,2015-04-07,2015-08-26,16.72,12.07,2015-08-18,20.34,2015-08-26,12.07,4.689119,6.023316,2015-04-07,2015-08-26
4,SZ#002346,2016-01-22,2016-04-21,20.50,17.19,2016-02-19,24.10,2016-04-21,17.10,2.197802,2.075702,2016-01-22,2016-04-21
5,SZ#002346,2016-11-16,2017-04-17,25.14,30.23,2017-01-09,49.90,2016-12-13,18.53,20.462810,5.462810,2016-11-16,2017-04-17

/opt/conda/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/opt/conda/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/opt/conda/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/opt/conda/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

SZ#002344 regression cost time 20.2 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000005,2006-04-17,2006-11-06,1.29,2.41,2006-08-30,2.75,2006-04-17,1.22,32.444444,1.555556,2006-04-17,2006-11-06
1,SZ#000005,2007-01-11,2007-10-25,2.93,6.93,2007-05-21,8.90,2007-01-15,2.70,61.546392,2.371134,2007-01-11,2007-10-25
2,SZ#000005,2009-07-02,2009-08-14,4.82,4.25,2009-07-23,5.40,2009-08-14,4.25,3.118280,3.064516,2009-07-02,2009-08-14
3,SZ#000005,2009-11-25,2010-01-26,5.57,5.15,2009-12-02,7.38,2009-11-25,4.97,7.605042,2.521008,2009-11-25,2010-01-26
4,SZ#000005,2014-09-12,2015-07-02,3.06,7.43,2015-05-29,17.06,2014-09-12,2.75,164.705882,3.647059,2014-09-12,2015-07-02

SZ#002345 regression cost time 23.6 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000584,2006-08-03,2006-12-28,1.57,1.34,2006-11-02,1.75,2006-09-25,1.28,1.395349,2.248062,2006-08-03,2006-12-28
1,SZ#000584,2007-01-16,2007-05-31,1.85,7.85,2007-04-27,10.63,2007-01-16,1.59,73.781513,2.184874,2007-01-16,2007-05-31
2,SZ#000584,2007-07-11,2008-02-01,10.65,10.51,2007-10-17,14.65,2007-11-12,9.52,4.197272,1.185729,2007-07-11,2008-02-01
3,SZ#000584,2009-07-23,2009-09-28,5.05,4.32,2009-08-04,7.18,2009-09-28,4.31,8.912134,3.096234,2009-07-23,2009-09-28
4,SZ#000584,2009-12-07,2010-04-27,7.27,5.99,2010-01-14,8.71,2010-02-03,5.82,2.404007,2.420701,2009-12-07,2010-04-27
5,SZ#000584,2013-01-29,2013-08-15,4.35,6.57,2013-06-07,8.44,2013-01-31,3.81,22.849162,3.016760,2013-01-29,2013-08-15
6,SZ#000584,2015-05-08,2015-07-02,8.27,16.09,2015-06-02,35.64,2015-05-08,8.27,69.821429,0.000000,2015-05-08,2015-07-02
7,SZ#000584,2017-08-24,2017-11-23,14.86,14.19,2017-11-14,15.82,2017-09-08,13.89,1.632653,1.649660,2017-08-24,2017-11-23

/opt/conda/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/opt/conda/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in true_divide
  ret = ret.dtype.type(ret / rcount)

SZ#002505 regression cost time 24.1 seconds
SZ#002343 regression cost time 24.2 seconds

/opt/conda/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/opt/conda/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

SZ#002504 regression cost time 24.3 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000810,2001-05-30,2001-07-30,7.82,7.83,2001-07-05,8.53,2001-07-30,7.68,6.454545,1.272727,2001-05-30,2001-07-30
1,SZ#000810,2001-09-11,2001-12-19,9.03,8.18,2001-09-19,9.34,2001-10-22,7.87,1.527094,5.714286,2001-09-11,2001-12-19
2,SZ#000810,2002-03-19,2002-05-09,9.75,8.24,2002-03-20,9.96,2002-05-09,8.11,0.913043,7.130435,2002-03-19,2002-05-09
3,SZ#000810,2006-01-09,2006-03-08,1.68,1.49,2006-02-06,1.86,2006-03-08,1.47,2.500000,2.916667,2006-01-09,2006-03-08
4,SZ#000810,2006-04-28,2006-08-01,1.97,2.42,2006-06-06,3.06,2006-04-28,1.76,9.819820,1.891892,2006-04-28,2006-08-01
5,SZ#000810,2007-02-14,2007-06-04,3.20,4.63,2007-05-28,6.65,2007-02-14,3.01,20.658683,1.137725,2007-02-14,2007-06-04
6,SZ#000810,2009-06-16,2010-05-12,3.39,4.71,2010-04-26,5.95,2009-06-16,3.11,16.410256,1.794872,2009-06-16,2010-05-12
7,SZ#000810,2010-07-08,2010-10-18,6.39,6.14,2010-08-18,7.68,2010-07-08,5.65,2.853982,1.637168,2010-07-08,2010-10-18
8,SZ#000810,2013-08-05,2013-10-28,6.61,6.57,2013-09-09,7.97,2013-08-05,6.09,3.215130,1.229314,2013-08-05,2013-10-28
9,SZ#000810,2014-07-01,2014-12-05,8.38,8.40,2014-09-25,11.01,2014-07-24,7.64,9.850187,2.771536,2014-07-01,2014-12-05
10,SZ#000810,2015-03-02,2015-06-29,11.62,23.38,2015-06-05,35.84,2015-03-02,11.00,42.342657,1.083916,2015-03-02,2015-06-29

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002024,2005-09-13,2005-11-03,0.35,0.24,2005-10-17,0.47,2005-11-03,0.24,3.076923,2.820513,2005-09-13,2005-11-03
1,SZ#002024,2006-02-06,2006-08-02,0.49,1.86,2006-06-22,2.53,2006-02-06,0.39,39.230769,1.923077,2006-02-06,2006-08-02
2,SZ#002024,2006-11-16,2007-11-12,2.58,12.22,2007-10-10,15.86,2006-11-16,2.42,85.677419,1.032258,2006-11-16,2007-11-12
3,SZ#002024,2009-06-10,2009-07-29,10.19,9.58,2009-06-16,10.79,2009-07-29,9.34,1.785714,2.529762,2009-06-10,2009-07-29
4,SZ#002024,2009-11-12,2010-01-26,11.05,11.43,2010-01-04,13.50,2009-11-12,10.53,7.040230,1.494253,2009-11-12,2010-01-26
5,SZ#002024,2010-08-17,2010-11-16,13.91,13.70,2010-10-08,16.17,2010-08-20,13.22,4.346154,1.326923,2010-08-17,2010-11-16
6,SZ#002024,2013-08-23,2013-12-16,7.71,8.94,2013-10-10,14.05,2013-08-23,7.19,16.997319,1.394102,2013-08-23,2013-12-16
7,SZ#002024,2015-02-16,2015-06-26,11.94,15.83,2015-06-11,23.31,2015-03-12,10.75,15.769764,1.650485,2015-02-16,2015-06-26
8,SZ#002024,2017-09-21,2017-11-17,12.90,12.29,2017-10-31,14.95,2017-09-26,12.23,5.807365,1.898017,2017-09-21,2017-11-17
9,SZ#002024,2018-05-25,2018-06-19,15.22,13.19,2018-05-31,16.25,2018-06-19,13.01,2.191489,4.702128,2018-05-25,2018-06-19

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002185,2009-10-20,2010-06-29,1.26,1.83,2010-04-23,2.61,2009-10-20,1.16,22.881356,1.694915,2009-10-20,2010-06-29
1,SZ#002185,2010-11-01,2011-04-06,2.71,2.91,2011-02-23,3.52,2010-11-17,2.33,7.431193,3.486239,2010-11-01,2011-04-06
2,SZ#002185,2013-04-24,2013-12-20,2.23,3.74,2013-11-28,5.04,2013-04-26,2.06,26.018519,1.574074,2013-04-24,2013-12-20
3,SZ#002185,2014-02-12,2014-03-10,5.09,3.90,2014-02-12,5.24,2014-03-10,3.84,0.638298,5.319149,2014-02-12,2014-03-10
4,SZ#002185,2014-10-15,2014-12-22,5.63,4.89,2014-10-16,5.87,2014-12-22,4.87,0.895522,2.835821,2014-10-15,2014-12-22
5,SZ#002185,2015-03-05,2015-06-26,6.12,7.03,2015-06-04,10.82,2015-03-12,5.60,22.065728,2.441315,2015-03-05,2015-06-26
6,SZ#002185,2017-06-15,2018-01-15,7.23,7.57,2017-11-13,9.46,2017-07-18,6.57,8.021583,2.374101,2017-06-15,2018-01-15

SZ#002346 regression cost time 22.9 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002347,2014-03-25,2014-10-23,4.50,5.25,2014-09-24,6.46,2014-04-11,3.82,8.484848,2.943723,2014-03-25,2014-10-23
1,SZ#002347,2014-11-27,2014-12-22,6.64,5.26,2014-11-27,6.84,2014-12-22,5.16,0.692042,5.121107,2014-11-27,2014-12-22
2,SZ#002347,2015-03-23,2015-09-25,7.40,9.91,2015-06-12,18.80,2015-03-23,6.84,45.418327,2.231076,2015-03-23,2015-09-25

SZ#002181 regression cost time 28.7 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002508,2013-01-15,2013-10-17,3.79,7.26,2013-08-07,9.65,2013-01-15,3.63,29.009901,0.792079,2013-01-15,2013-10-17
1,SZ#002508,2013-12-13,2014-02-25,9.68,7.79,2013-12-16,9.95,2014-02-25,7.63,0.456081,3.462838,2013-12-13,2014-02-25
2,SZ#002508,2014-10-28,2015-06-29,10.12,16.71,2015-06-15,21.72,2014-12-31,8.91,27.039627,2.820513,2014-10-28,2015-06-29
3,SZ#002508,2016-04-07,2016-08-25,23.20,27.89,2016-07-12,31.16,2016-04-07,21.77,10.641711,1.911765,2016-04-07,2016-08-25
4,SZ#002508,2017-02-20,2017-08-01,32.51,38.98,2017-06-09,45.13,2017-02-28,30.95,15.334143,1.895504,2017-02-20,2017-08-01
5,SZ#002508,2017-10-13,2017-11-24,46.43,44.75,2017-11-13,49.60,2017-11-24,44.25,2.353378,1.618411,2017-10-13,2017-11-24
6,SZ#002508,2018-01-10,2018-02-07,50.81,46.56,2018-01-15,53.75,2018-02-07,46.45,2.166544,3.212970,2018-01-10,2018-02-07

SZ#002183 regression cost time 32.8 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000006,2001-04-16,2001-06-18,1.17,0.94,2001-04-17,1.23,2001-06-18,0.93,1.000000,4.000000,2001-04-16,2001-06-18
1,SZ#000006,2006-01-12,2007-01-31,-0.19,1.17,2007-01-17,1.95,2006-01-12,-0.28,41.960784,1.764706,2006-01-12,2007-01-31
2,SZ#000006,2007-04-17,2007-09-11,2.18,4.22,2007-08-03,5.66,2007-04-17,2.04,26.165414,1.052632,2007-04-17,2007-09-11
3,SZ#000006,2007-09-25,2007-11-19,5.94,4.82,2007-10-08,6.32,2007-11-19,4.82,0.924574,2.725061,2007-09-25,2007-11-19
4,SZ#000006,2009-06-03,2009-08-17,3.84,3.26,2009-07-23,4.78,2009-06-12,3.23,4.086957,2.652174,2009-06-03,2009-08-17
5,SZ#000006,2012-04-25,2012-07-27,4.02,3.09,2012-04-25,4.19,2012-07-27,3.05,0.502959,2.869822,2012-04-25,2012-07-27
6,SZ#000006,2013-01-21,2013-03-04,4.27,3.59,2013-01-23,4.67,2013-03-04,3.59,1.990050,3.383085,2013-01-21,2013-03-04
7,SZ#000006,2013-11-19,2013-12-26,5.02,4.06,2013-11-26,5.35,2013-12-26,3.99,0.993976,3.102410,2013-11-19,2013-12-26
8,SZ#000006,2014-10-09,2015-01-19,5.63,5.27,2015-01-05,6.79,2014-10-27,4.88,6.105263,3.947368,2014-10-09,2015-01-19
9,SZ#000006,2015-03-20,2015-07-03,6.84,9.97,2015-06-12,19.24,2015-03-20,6.56,60.784314,1.372549,2015-03-20,2015-07-03

SZ#002182 regression cost time 34.5 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000585,2006-02-09,2006-10-23,2.11,2.94,2006-05-16,3.70,2006-03-13,1.78,20.126582,4.177215,2006-02-09,2006-10-23
1,SZ#000585,2007-02-14,2007-06-25,3.76,5.51,2007-05-28,10.22,2007-02-14,3.57,37.558140,1.104651,2007-02-14,2007-06-25
2,SZ#000585,2009-06-05,2009-08-13,4.62,3.96,2009-06-08,4.84,2009-08-13,3.88,0.897959,3.020408,2009-06-05,2009-08-13
3,SZ#000585,2009-11-17,2009-12-18,4.85,4.01,2009-11-18,4.99,2009-12-18,3.98,0.627803,3.901345,2009-11-17,2009-12-18
4,SZ#000585,2010-04-02,2010-05-17,5.09,4.55,2010-04-21,6.42,2010-05-17,4.50,7.189189,3.189189,2010-04-02,2010-05-17
5,SZ#000585,2013-03-28,2013-06-07,3.03,2.68,2013-04-25,3.17,2013-04-15,2.56,1.157025,3.884298,2013-03-28,2013-06-07
6,SZ#000585,2014-07-25,2014-10-23,2.73,3.89,2014-08-19,4.84,2014-07-25,2.46,26.375000,3.375000,2014-07-25,2014-10-23
7,SZ#000585,2015-03-04,2015-07-02,5.45,5.93,2015-06-15,9.85,2015-03-04,4.89,18.032787,2.295082,2015-03-04,2015-07-02
8,SZ#000585,2017-02-13,2017-03-23,9.71,7.95,2017-02-13,9.71,2017-03-23,7.88,0.000000,2.832817,2017-02-13,2017-03-23

SZ#002184 regression cost time 40.6 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000811,2001-06-06,2001-07-16,1.92,1.69,2001-06-13,1.98,2001-07-16,1.68,1.224490,4.897959,2001-06-06,2001-07-16
1,SZ#000811,2006-05-08,2006-11-13,0.56,1.34,2006-10-11,1.64,2006-05-08,0.42,21.600000,2.800000,2006-05-08,2006-11-13
2,SZ#000811,2007-01-08,2007-07-05,1.69,2.75,2007-05-29,5.08,2007-01-08,1.47,32.285714,2.095238,2007-01-08,2007-07-05
3,SZ#000811,2009-05-06,2009-08-14,2.83,2.27,2009-05-06,2.95,2009-08-14,2.26,0.754717,3.584906,2009-05-06,2009-08-14
4,SZ#000811,2009-11-16,2010-10-18,3.29,6.76,2010-09-20,8.61,2009-12-18,2.88,35.704698,2.751678,2009-11-16,2010-10-18
5,SZ#000811,2010-12-14,2011-01-17,8.82,6.92,2010-12-14,8.99,2011-01-17,6.88,0.473538,5.403900,2010-12-14,2011-01-17
6,SZ#000811,2011-03-15,2011-04-22,9.14,7.82,2011-03-17,9.50,2011-04-22,7.82,0.991736,3.636364,2011-03-15,2011-04-22
7,SZ#000811,2013-12-03,2014-03-28,5.43,7.37,2014-02-18,10.63,2013-12-03,4.92,23.214286,2.276786,2013-12-03,2014-03-28
8,SZ#000811,2015-05-22,2015-06-29,12.77,9.63,2015-06-02,17.09,2015-06-29,9.63,7.093596,5.155993,2015-05-22,2015-06-29
9,SZ#000811,2017-03-14,2017-05-23,10.85,10.14,2017-05-02,13.07,2017-05-23,10.12,7.161290,2.354839,2017-03-14,2017-05-23

SZ#000809 regression cost time 42.9 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002025,2005-08-05,2006-02-20,3.26,5.35,2006-02-15,6.78,2005-08-18,2.86,18.624339,2.116402,2005-08-05,2006-02-20
1,SZ#002025,2006-04-04,2006-07-28,6.90,7.00,2006-05-16,10.74,2006-04-14,6.28,12.000000,1.937500,2006-04-04,2006-07-28
2,SZ#002025,2007-04-16,2007-07-05,11.12,8.07,2007-06-18,12.86,2007-07-05,8.06,3.289225,5.784499,2007-04-16,2007-07-05
3,SZ#002025,2009-07-20,2009-08-17,8.07,6.25,2009-07-27,8.97,2009-08-17,6.10,2.374670,5.197889,2009-07-20,2009-08-17
4,SZ#002025,2009-11-23,2010-03-12,9.08,8.26,2010-01-19,10.25,2009-12-23,7.97,3.031088,2.875648,2009-11-23,2010-03-12
5,SZ#002025,2010-09-15,2010-12-06,10.72,9.27,2010-11-05,12.67,2010-10-15,8.35,3.971487,4.826884,2010-09-15,2010-12-06
6,SZ#002025,2013-11-29,2014-01-10,10.35,8.36,2013-11-29,10.44,2014-01-10,8.32,0.170455,3.844697,2013-11-29,2014-01-10
7,SZ#002025,2014-02-28,2014-04-25,10.82,9.47,2014-03-07,12.47,2014-02-28,9.40,2.669903,2.297735,2014-02-28,2014-04-25
8,SZ#002025,2014-07-09,2014-11-13,13.04,13.94,2014-10-14,17.51,2014-07-24,11.54,7.412935,2.487562,2014-07-09,2014-11-13
9,SZ#002025,2015-03-23,2015-07-02,17.94,20.57,2015-05-27,35.31,2015-03-24,17.04,33.793774,1.750973,2015-03-23,2015-07-02
10,SZ#002025,2015-07-30,2015-09-07,37.70,18.62,2015-08-18,41.31,2015-09-07,18.62,1.045165,5.524030,2015-07-30,2015-09-07
11,SZ#002025,2018-09-13,2018-10-11,28.85,24.26,2018-09-13,28.99,2018-10-11,23.91,0.119658,4.222222,2018-09-13,2018-10-11

SZ#000582 regression cost time 43.2 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002186,2010-01-14,2010-04-30,16.15,12.88,2010-01-15,16.51,2010-04-30,12.66,0.566929,5.496063,2010-01-14,2010-04-30
1,SZ#002186,2010-11-23,2011-01-10,16.84,14.22,2010-11-24,18.30,2011-01-10,14.22,1.573276,2.823276,2010-11-23,2011-01-10
2,SZ#002186,2012-03-12,2012-06-04,14.77,13.62,2012-03-12,15.06,2012-03-29,12.81,0.576541,3.896620,2012-03-12,2012-06-04
3,SZ#002186,2012-07-06,2012-09-21,15.73,14.60,2012-07-16,16.60,2012-09-21,14.58,1.676301,2.215800,2012-07-06,2012-09-21
4,SZ#002186,2013-10-11,2014-01-09,16.96,16.21,2013-10-15,20.76,2013-11-14,15.56,5.722892,2.108434,2013-10-11,2014-01-09
5,SZ#002186,2015-03-25,2015-06-29,22.73,23.87,2015-06-12,33.15,2015-03-25,20.39,16.080247,3.611111,2015-03-25,2015-06-29
6,SZ#002186,2017-03-20,2017-04-14,23.66,22.01,2017-03-23,24.18,2017-04-14,21.86,1.145374,3.964758,2017-03-20,2017-04-14

SZ#000803 regression cost time 44.3 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002348,2013-04-25,2013-06-24,3.14,2.71,2013-05-21,4.46,2013-06-24,2.71,9.565217,3.115942,2013-04-25,2013-06-24
1,SZ#002348,2014-08-20,2014-12-22,4.28,4.15,2014-10-09,5.07,2014-09-17,4.06,5.266667,1.466667,2014-08-20,2014-12-22
2,SZ#002348,2015-02-25,2015-06-29,5.27,7.77,2015-06-03,13.61,2015-02-25,4.88,41.700000,1.950000,2015-02-25,2015-06-29

/opt/conda/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/opt/conda/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

SZ#002347 regression cost time 20.7 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002509,2012-08-13,2012-11-27,1.72,1.55,2012-09-07,2.02,2012-11-27,1.52,3.571429,2.380952,2012-08-13,2012-11-27
1,SZ#002509,2013-01-08,2013-06-24,2.13,2.34,2013-06-03,3.12,2013-01-08,1.93,10.206186,2.061856,2013-01-08,2013-06-24
2,SZ#002509,2014-08-06,2015-06-26,3.24,5.02,2015-06-04,7.76,2014-08-06,3.04,41.090909,1.818182,2014-08-06,2015-06-26
3,SZ#002509,2016-09-13,2017-11-27,7.78,9.14,2017-10-12,10.54,2016-09-13,7.39,10.415094,1.471698,2016-09-13,2017-11-27

SZ#000573 regression cost time 50.5 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000007,2006-12-05,2007-06-22,1.87,3.93,2007-05-24,6.93,2007-01-04,1.57,65.714286,3.896104,2006-12-05,2007-06-22
1,SZ#000007,2009-11-19,2009-12-18,5.17,4.46,2009-11-26,5.57,2009-12-18,4.46,2.758621,4.896552,2009-11-19,2009-12-18
2,SZ#000007,2010-10-12,2011-05-24,5.68,5.74,2011-04-25,6.72,2010-10-18,5.17,5.810056,2.849162,2010-10-12,2011-05-24
3,SZ#000007,2012-03-06,2012-07-17,6.83,8.79,2012-05-18,11.30,2012-03-06,6.51,19.691630,1.409692,2012-03-06,2012-07-17
4,SZ#000007,2012-08-01,2012-11-08,11.42,9.73,2012-08-07,11.89,2012-11-08,9.67,0.770492,2.868852,2012-08-01,2012-11-08
5,SZ#000007,2013-01-31,2013-03-28,12.19,10.60,2013-02-21,16.40,2013-03-28,10.53,7.425044,2.927690,2013-01-31,2013-03-28
6,SZ#000007,2014-09-12,2014-12-03,12.28,10.51,2014-09-12,12.36,2014-12-03,10.37,0.130293,3.110749,2014-09-12,2014-12-03
7,SZ#000007,2015-03-30,2015-12-02,12.47,13.03,2015-05-20,20.87,2015-03-30,11.90,12.426036,0.843195,2015-03-30,2015-12-02

SZ#002507 regression cost time 46.2 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000586,2001-05-14,2001-07-30,11.05,9.66,2001-05-22,11.78,2001-07-30,9.62,2.281250,4.468750,2001-05-14,2001-07-30
1,SZ#000586,2004-04-13,2004-07-12,6.27,4.43,2004-04-13,6.43,2004-07-12,4.38,0.551724,6.517241,2004-04-13,2004-07-12
2,SZ#000586,2006-10-16,2006-11-10,3.67,2.96,2006-10-16,3.77,2006-11-10,2.92,0.684932,5.136986,2006-10-16,2006-11-10
3,SZ#000586,2007-01-29,2008-01-22,3.82,12.60,2008-01-09,17.48,2007-02-01,3.33,61.531532,2.207207,2007-01-29,2008-01-22
4,SZ#000586,2009-07-20,2009-09-01,7.37,6.23,2009-07-22,8.10,2009-09-01,6.23,2.597865,4.056940,2009-07-20,2009-09-01
5,SZ#000586,2011-04-14,2011-05-27,8.55,7.58,2011-04-25,9.27,2011-05-27,7.58,2.950820,3.975410,2011-04-14,2011-05-27
6,SZ#000586,2011-07-19,2011-09-05,9.63,7.57,2011-07-28,12.05,2011-09-05,7.50,6.974063,6.138329,2011-07-19,2011-09-05
7,SZ#000586,2013-07-22,2014-01-07,6.14,5.74,2013-11-11,7.63,2013-07-22,5.65,5.359712,1.762590,2013-07-22,2014-01-07
8,SZ#000586,2014-06-24,2016-11-25,7.78,21.56,2016-04-28,24.87,2014-06-24,7.51,71.506276,1.129707,2014-06-24,2016-11-25

SZ#000806 regression cost time 57.6 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000812,2004-03-01,2004-04-14,1.99,1.70,2004-03-04,2.20,2004-04-14,1.69,1.875000,2.678571,2004-03-01,2004-04-14
1,SZ#000812,2006-05-19,2006-10-23,1.27,1.29,2006-06-06,1.73,2006-05-19,1.13,6.301370,1.917808,2006-05-19,2006-10-23
2,SZ#000812,2007-01-19,2007-10-12,1.79,3.56,2007-05-25,4.65,2007-02-01,1.45,26.481481,3.148148,2007-01-19,2007-10-12
3,SZ#000812,2009-06-30,2009-08-17,2.86,2.45,2009-08-05,3.36,2009-08-17,2.45,5.617978,4.606742,2009-06-30,2009-08-17
4,SZ#000812,2009-11-19,2010-04-30,3.45,3.62,2010-04-06,4.49,2010-02-03,3.28,10.400000,1.700000,2009-11-19,2010-04-30
5,SZ#000812,2011-04-22,2011-05-30,4.35,3.58,2011-05-13,4.82,2011-05-30,3.58,2.655367,4.350282,2011-04-22,2011-05-30
6,SZ#000812,2014-01-24,2014-04-22,3.00,2.99,2014-02-17,3.65,2014-01-24,2.70,7.142857,3.296703,2014-01-24,2014-04-22
7,SZ#000812,2014-06-25,2014-12-22,3.84,4.38,2014-11-26,5.55,2014-06-25,3.67,11.554054,1.148649,2014-06-25,2014-12-22
8,SZ#000812,2015-02-25,2016-01-04,5.70,7.62,2015-06-18,14.54,2015-02-25,5.16,33.740458,2.061069,2015-02-25,2016-01-04

SZ#002021 regression cost time 58.6 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002026,2006-04-17,2006-07-31,2.32,2.49,2006-07-11,3.25,2006-04-25,1.99,10.000000,3.548387,2006-04-17,2006-07-31
1,SZ#002026,2007-02-16,2007-06-04,3.26,3.87,2007-05-28,6.43,2007-02-28,3.02,27.327586,2.068966,2007-02-16,2007-06-04
2,SZ#002026,2009-07-17,2009-08-17,4.07,3.44,2009-08-04,4.60,2009-08-17,3.44,4.568966,5.431034,2009-07-17,2009-08-17
3,SZ#002026,2009-11-16,2010-01-26,4.94,5.86,2010-01-05,7.64,2009-11-27,4.58,15.254237,2.033898,2009-11-16,2010-01-26
4,SZ#002026,2010-12-16,2011-01-20,7.88,6.80,2010-12-21,8.96,2011-01-20,6.77,3.068182,3.153409,2010-12-16,2011-01-20
5,SZ#002026,2014-01-22,2014-07-24,6.97,8.43,2014-06-19,10.26,2014-03-07,5.84,10.217391,3.509317,2014-01-22,2014-07-24
6,SZ#002026,2014-10-08,2014-11-13,10.57,9.50,2014-10-31,10.91,2014-11-13,9.33,1.072555,3.911672,2014-10-08,2014-11-13
7,SZ#002026,2015-03-25,2015-06-26,11.65,13.05,2015-06-05,21.27,2015-03-25,10.59,27.252125,3.002833,2015-03-25,2015-06-26

SZ#000005 regression cost time 40.3 seconds
SZ#000004 regression cost time 60.5 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002187,2009-06-22,2009-08-17,13.12,11.27,2009-08-06,13.92,2009-08-17,11.27,1.178203,2.724595,2009-06-22,2009-08-17
1,SZ#002187,2009-10-20,2010-04-30,14.03,13.65,2010-01-18,16.63,2009-10-29,12.93,4.609929,1.950355,2009-10-20,2010-04-30
2,SZ#002187,2013-09-25,2014-01-09,6.87,6.15,2013-10-14,7.92,2013-10-29,6.10,3.595890,2.636986,2013-09-25,2014-01-09
3,SZ#002187,2014-04-14,2014-06-04,7.99,7.05,2014-05-07,8.74,2014-06-04,6.99,2.475248,3.300330,2014-04-14,2014-06-04
4,SZ#002187,2014-09-15,2015-01-19,9.10,10.72,2014-12-02,13.35,2014-09-17,8.55,18.240343,2.360515,2014-09-15,2015-01-19
5,SZ#002187,2015-03-06,2015-06-29,13.76,16.76,2015-06-12,28.90,2015-03-06,12.41,38.136020,3.400504,2015-03-06,2015-06-29

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002349,2012-06-29,2012-09-26,4.77,3.18,2012-07-02,5.04,2012-09-26,3.17,0.716180,4.244032,2012-06-29,2012-09-26
1,SZ#002349,2013-10-17,2013-11-07,4.56,3.70,2013-10-18,4.77,2013-11-07,3.69,1.099476,4.554974,2013-10-17,2013-11-07
2,SZ#002349,2014-02-11,2014-04-25,4.80,5.01,2014-02-20,6.83,2014-02-11,4.80,10.099502,0.000000,2014-02-11,2014-04-25
3,SZ#002349,2014-09-09,2014-11-12,7.07,6.79,2014-09-24,8.41,2014-11-12,6.70,4.213836,1.163522,2014-09-09,2014-11-12
4,SZ#002349,2015-01-19,2015-07-02,8.70,10.93,2015-06-05,30.44,2015-01-19,7.82,62.651297,2.536023,2015-01-19,2015-07-02
5,SZ#002349,2017-03-10,2017-04-12,13.89,10.79,2017-03-15,14.83,2017-04-12,10.76,1.629116,5.424610,2017-03-10,2017-04-12

/opt/conda/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/opt/conda/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in true_divide
  ret = ret.dtype.type(ret / rcount)

SZ#002348 regression cost time 20.2 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002510,2013-08-30,2013-10-29,2.66,2.26,2013-08-30,2.75,2013-10-29,2.21,0.576923,2.884615,2013-08-30,2013-10-29
1,SZ#002510,2013-11-21,2014-01-07,2.80,2.40,2013-12-05,2.97,2014-01-07,2.36,1.574074,4.074074,2013-11-21,2014-01-07
2,SZ#002510,2014-02-13,2014-12-22,3.05,4.45,2014-10-09,5.90,2014-02-13,2.81,20.357143,1.714286,2014-02-13,2014-12-22
3,SZ#002510,2015-03-25,2015-07-02,5.95,6.06,2015-06-05,12.13,2015-03-25,5.66,25.224490,1.183673,2015-03-25,2015-07-02
4,SZ#002510,2017-10-27,2017-11-03,9.08,7.28,2017-10-30,9.33,2017-11-03,7.18,0.498008,3.784861,2017-10-27,2017-11-03

SZ#002186 regression cost time 23.0 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000008,2005-01-12,2005-03-23,0.92,0.79,2005-02-24,1.25,2005-03-23,0.79,10.000000,3.939394,2005-01-12,2005-03-23
1,SZ#000008,2007-01-24,2007-06-22,0.63,0.80,2007-05-22,1.32,2007-01-26,0.55,17.692308,2.051282,2007-01-24,2007-06-22
2,SZ#000008,2007-09-17,2007-10-23,1.36,1.08,2007-09-18,1.43,2007-10-23,1.07,1.060606,4.393939,2007-09-17,2007-10-23
3,SZ#000008,2008-01-04,2008-03-17,1.45,1.07,2008-01-14,1.54,2008-03-17,1.07,1.406250,5.937500,2008-01-04,2008-03-17
4,SZ#000008,2009-06-05,2009-08-14,0.82,0.92,2009-07-20,1.21,2009-06-05,0.77,13.448276,1.724138,2009-06-05,2009-08-14
5,SZ#000008,2009-12-16,2010-06-18,1.23,1.30,2010-04-07,1.66,2010-01-27,1.02,8.958333,4.375000,2009-12-16,2010-06-18
6,SZ#000008,2013-01-30,2013-12-27,1.37,2.00,2013-10-16,2.69,2013-01-31,1.30,23.157895,1.228070,2013-01-30,2013-12-27
7,SZ#000008,2014-09-24,2015-08-24,2.77,7.25,2015-07-24,11.54,2014-09-24,2.77,77.610619,0.000000,2014-09-24,2015-08-24
8,SZ#000008,2015-10-27,2016-01-04,12.43,10.55,2015-11-13,14.08,2016-01-04,10.54,2.129032,2.438710,2015-10-27,2016-01-04

SZ#000576 regression cost time 66.9 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000587,2005-09-20,2005-10-17,0.41,0.26,2005-09-21,0.43,2005-10-17,0.26,0.800000,6.000000,2005-09-20,2005-10-17
1,SZ#000587,2006-10-16,2006-11-07,0.36,0.28,2006-10-19,0.38,2006-11-07,0.28,1.176471,4.705882,2006-10-16,2006-11-07
2,SZ#000587,2007-01-18,2007-06-21,0.39,1.01,2007-05-29,1.64,2007-02-05,0.34,65.789474,2.631579,2007-01-18,2007-06-21
3,SZ#000587,2008-01-14,2008-03-17,1.65,1.25,2008-01-17,1.93,2008-03-17,1.25,3.636364,5.194805,2008-01-14,2008-03-17
4,SZ#000587,2009-06-15,2009-08-13,1.17,1.15,2009-07-20,1.52,2009-06-15,1.10,7.142857,1.428571,2009-06-15,2009-08-13
5,SZ#000587,2009-11-02,2011-10-19,1.57,4.95,2011-09-01,7.71,2009-11-02,1.45,86.478873,1.690141,2009-11-02,2011-10-19
6,SZ#000587,2014-02-18,2014-04-25,7.47,5.71,2014-02-21,8.00,2014-04-25,5.70,1.859649,6.210526,2014-02-18,2014-04-25
7,SZ#000587,2015-04-30,2015-06-29,8.62,11.48,2015-06-15,19.43,2015-05-04,8.09,27.860825,1.365979,2015-04-30,2015-06-29

SZ#000001 regression cost time 67.2 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000813,2006-06-01,2006-08-07,1.87,1.50,2006-06-02,2.03,2006-06-14,1.47,1.142857,2.857143,2006-06-01,2006-08-07
1,SZ#000813,2007-01-15,2007-06-05,2.07,4.57,2007-05-09,7.57,2007-01-15,1.91,57.291667,1.666667,2007-01-15,2007-06-05
2,SZ#000813,2009-07-13,2010-12-28,3.95,8.67,2010-09-01,11.79,2009-07-13,3.51,34.844444,1.955556,2009-07-13,2010-12-28
3,SZ#000813,2014-09-04,2014-12-09,6.05,5.51,2014-09-11,6.72,2014-12-09,5.50,3.526316,2.894737,2014-09-04,2014-12-09
4,SZ#000813,2015-03-25,2016-01-27,6.76,6.41,2016-01-18,9.08,2016-01-27,6.10,9.626556,2.738589,2015-03-25,2016-01-27
5,SZ#000813,2016-07-25,2016-12-12,9.10,9.62,2016-09-23,12.14,2016-07-25,8.73,12.111554,1.474104,2016-07-25,2016-12-12
6,SZ#000813,2018-04-27,2018-06-19,10.40,8.82,2018-05-16,11.33,2018-06-19,8.82,2.751479,4.674556,2018-04-27,2018-06-19

SZ#002020 regression cost time 75.5 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002027,2005-08-08,2006-03-07,0.87,0.93,2006-02-16,1.27,2005-08-09,0.84,8.000000,0.600000,2005-08-08,2006-03-07
1,SZ#002027,2006-05-08,2006-07-31,1.28,1.28,2006-05-22,2.12,2006-05-08,1.24,10.370370,0.493827,2006-05-08,2006-07-31
2,SZ#002027,2007-04-18,2007-06-04,2.15,1.83,2007-05-29,2.87,2007-06-04,1.82,7.578947,3.473684,2007-04-18,2007-06-04
3,SZ#002027,2009-12-02,2010-04-30,1.62,1.47,2010-04-12,1.95,2009-12-18,1.38,3.113208,2.264151,2009-12-02,2010-04-30
4,SZ#002027,2013-08-22,2013-11-11,1.00,1.42,2013-10-10,2.38,2013-08-22,0.86,22.258065,2.258065,2013-08-22,2013-11-11
5,SZ#002027,2014-11-11,2014-12-09,2.65,2.05,2014-11-12,2.81,2014-12-09,2.04,1.355932,5.169492,2014-11-11,2014-12-09
6,SZ#002027,2015-03-11,2015-12-31,3.04,12.26,2015-11-23,18.15,2015-03-11,2.81,83.480663,1.270718,2015-03-11,2015-12-31
7,SZ#002027,2017-11-21,2018-04-03,11.32,9.98,2018-01-25,12.88,2017-11-30,9.54,3.151515,3.595960,2017-11-21,2018-04-03

attempt to get argmax of an empty sequence
SZ#002023 regression cost time 76.0 seconds
SZ#000581 regression cost time 76.3 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002188,2009-08-05,2009-08-17,7.50,5.92,2009-08-06,7.92,2009-08-17,5.92,1.132075,4.258760,2009-08-05,2009-08-17
1,SZ#002188,2009-09-17,2010-04-30,8.56,9.17,2010-03-30,12.16,2009-09-29,6.88,9.068010,4.231738,2009-09-17,2010-04-30
2,SZ#002188,2010-10-26,2010-12-24,12.29,11.25,2010-11-03,14.71,2010-12-24,11.13,3.432624,1.645390,2010-10-26,2010-12-24
3,SZ#002188,2013-10-22,2013-12-02,10.94,8.21,2013-10-22,11.15,2013-12-02,8.21,0.498812,6.484561,2013-10-22,2013-12-02
4,SZ#002188,2014-08-19,2014-12-09,11.30,11.32,2014-10-20,14.82,2014-08-19,11.12,10.538922,0.538922,2014-08-19,2014-12-09
5,SZ#002188,2015-05-27,2016-01-12,14.91,29.19,2015-06-18,51.58,2015-05-27,14.91,47.012821,0.000000,2015-05-27,2016-01-12

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002350,2012-09-05,2012-09-26,6.90,6.15,2012-09-11,7.43,2012-09-26,6.12,2.236287,3.291139,2012-09-05,2012-09-26
1,SZ#002350,2014-10-15,2014-12-19,6.99,6.69,2014-11-28,7.97,2014-10-23,6.43,4.924623,2.814070,2014-10-15,2014-12-19
2,SZ#002350,2015-04-14,2015-06-29,8.65,10.61,2015-06-15,15.66,2015-04-14,8.65,30.881057,0.000000,2015-04-14,2015-06-29
3,SZ#002350,2016-11-25,2016-12-12,11.69,10.22,2016-11-25,11.84,2016-12-12,10.05,0.428571,4.685714,2016-11-25,2016-12-12
4,SZ#002350,2017-05-18,2017-07-10,12.07,12.15,2017-06-14,17.07,2017-07-10,11.96,9.652510,0.212355,2017-05-18,2017-07-10

SZ#000807 regression cost time 77.8 seconds
SZ#002185 regression cost time 53.6 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002511,2013-01-16,2013-03-13,3.60,3.29,2013-02-20,3.91,2013-03-13,3.21,2.279412,2.867647,2013-01-16,2013-03-13
1,SZ#002511,2014-10-10,2014-12-09,3.43,3.13,2014-10-13,3.73,2014-12-09,3.13,2.803738,2.803738,2014-10-10,2014-12-09
2,SZ#002511,2015-03-04,2015-07-16,3.83,4.01,2015-05-26,6.25,2015-03-04,3.45,24.948454,3.917526,2015-03-04,2015-07-16
3,SZ#002511,2016-06-30,2016-12-12,6.58,7.28,2016-10-12,8.61,2016-07-11,6.23,7.302158,1.258993,2016-06-30,2016-12-12
4,SZ#002511,2017-10-13,2018-02-06,8.76,7.58,2018-01-04,10.21,2018-02-06,7.47,4.632588,4.121406,2017-10-13,2018-02-06
5,SZ#002511,2018-06-04,2018-07-05,10.31,8.67,2018-06-05,10.69,2018-07-05,8.66,0.844444,3.666667,2018-06-04,2018-07-05

attempt to get argmax of an empty sequence

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000009,2004-02-10,2004-04-27,2.26,1.81,2004-02-11,2.39,2004-04-27,1.80,1.120690,3.965517,2004-02-10,2004-04-27
1,SZ#000009,2006-05-22,2006-08-07,1.26,1.15,2006-06-06,1.48,2006-05-22,1.10,2.619048,1.904762,2006-05-22,2006-08-07
2,SZ#000009,2006-09-22,2007-07-04,1.49,3.96,2007-05-25,5.77,2006-10-30,1.26,64.848485,3.484848,2006-09-22,2007-07-04
3,SZ#000009,2007-10-08,2007-11-23,5.87,4.96,2007-10-09,6.17,2007-11-23,4.85,1.052632,3.578947,2007-10-08,2007-11-23
4,SZ#000009,2008-01-14,2008-02-01,6.43,5.00,2008-01-15,6.71,2008-02-01,4.96,1.201717,6.309013,2008-01-14,2008-02-01
5,SZ#000009,2009-06-03,2009-08-17,5.57,5.47,2009-07-06,7.47,2009-06-03,5.23,7.011070,1.254613,2009-06-03,2009-08-17
6,SZ#000009,2010-11-01,2011-01-10,7.68,8.05,2010-11-25,10.13,2010-11-01,6.99,5.833333,1.642857,2010-11-01,2011-01-10
7,SZ#000009,2011-02-11,2011-04-28,10.48,8.98,2011-02-22,13.51,2011-04-28,8.89,4.583964,2.405446,2011-02-11,2011-04-28
8,SZ#000009,2013-05-22,2013-09-02,6.73,5.84,2013-06-17,7.53,2013-06-25,5.39,2.777778,4.652778,2013-05-22,2013-09-02
9,SZ#000009,2014-08-19,2014-10-24,8.26,9.17,2014-09-11,11.15,2014-08-19,8.26,9.506579,0.000000,2014-08-19,2014-10-24
10,SZ#000009,2015-03-10,2015-06-26,11.83,12.36,2015-06-15,18.37,2015-03-10,11.14,11.956124,1.261426,2015-03-10,2015-06-26

SZ#002349 regression cost time 19.8 seconds
SZ#000585 regression cost time 46.2 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000589,2005-10-18,2006-08-01,2.08,2.80,2006-07-03,3.28,2005-11-18,1.83,21.052632,4.385965,2005-10-18,2006-08-01
1,SZ#000589,2007-01-18,2007-06-04,3.39,4.94,2007-05-29,7.18,2007-01-26,3.23,27.664234,1.167883,2007-01-18,2007-06-04
2,SZ#000589,2008-01-24,2008-03-17,7.33,5.68,2008-01-28,7.91,2008-03-17,5.67,1.506494,4.311688,2008-01-24,2008-03-17
3,SZ#000589,2009-05-18,2009-12-22,5.44,8.76,2009-11-24,10.83,2009-06-12,4.88,18.087248,1.879195,2009-05-18,2009-12-22
4,SZ#000589,2014-03-19,2014-04-28,5.65,4.90,2014-03-19,5.72,2014-04-28,4.89,0.315315,3.423423,2014-03-19,2014-04-28
5,SZ#000589,2014-09-09,2015-01-19,5.92,6.16,2014-12-11,7.35,2014-09-09,5.58,10.514706,2.500000,2014-09-09,2015-01-19
6,SZ#000589,2015-03-16,2015-07-03,7.49,8.56,2015-06-17,15.84,2015-03-16,7.21,35.084034,1.176471,2015-03-16,2015-07-03

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#000815,2001-03-27,2001-07-09,4.49,5.03,2001-06-04,5.65,2001-03-27,4.38,10.175439,0.964912,2001-03-27,2001-07-09
1,SZ#000815,2006-02-06,2006-03-10,2.13,1.89,2006-02-08,2.21,2006-03-10,1.87,1.142857,3.714286,2006-02-06,2006-03-10
2,SZ#000815,2006-04-10,2007-06-01,2.23,7.17,2007-05-29,9.17,2006-04-14,2.00,106.769231,3.538462,2006-04-10,2007-06-01
3,SZ#000815,2007-08-22,2007-10-23,9.33,8.75,2007-09-19,11.60,2007-08-22,8.50,5.254630,1.921296,2007-08-22,2007-10-23
4,SZ#000815,2010-03-10,2010-04-30,6.16,6.32,2010-04-08,7.67,2010-03-11,6.04,5.189003,0.412371,2010-03-10,2010-04-30
5,SZ#000815,2011-03-25,2011-06-17,8.50,6.35,2011-04-12,9.20,2011-06-17,6.26,1.682692,5.384615,2011-03-25,2011-06-17
6,SZ#000815,2014-09-29,2014-12-22,5.68,7.99,2014-12-01,10.57,2014-09-29,5.68,21.077586,0.000000,2014-09-29,2014-12-22
7,SZ#000815,2015-03-16,2015-06-26,10.83,25.57,2015-05-28,46.03,2015-03-16,10.21,61.646235,1.085814,2015-03-16,2015-06-26

SZ#002509 regression cost time 32.9 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002028,2005-12-12,2006-02-20,0.47,0.52,2006-02-09,0.89,2005-12-12,0.37,6.885246,1.639344,2005-12-12,2006-02-20
1,SZ#002028,2006-04-04,2006-08-07,1.00,1.51,2006-07-18,2.47,2006-04-04,0.85,16.333333,1.666667,2006-04-04,2006-08-07
2,SZ#002028,2006-09-19,2006-11-14,2.58,2.16,2006-10-23,2.88,2006-11-14,2.07,2.325581,3.953488,2006-09-19,2006-11-14
3,SZ#002028,2006-12-29,2007-09-18,3.19,9.06,2007-08-10,12.50,2006-12-29,2.94,41.377778,1.111111,2006-12-29,2007-09-18
4,SZ#002028,2008-01-02,2008-02-27,12.89,11.74,2008-01-24,14.84,2008-02-27,11.56,3.915663,2.670683,2008-01-02,2008-02-27
5,SZ#002028,2009-05-22,2009-08-12,11.48,11.29,2009-05-26,13.84,2009-05-22,10.80,4.627451,1.333333,2009-05-22,2009-08-12
6,SZ#002028,2009-11-04,2009-12-21,14.06,13.53,2009-11-24,15.71,2009-12-21,13.36,2.849741,1.208981,2009-11-04,2009-12-21
7,SZ#002028,2010-01-18,2010-05-12,16.29,14.85,2010-04-21,19.37,2010-02-03,14.27,4.767802,3.126935,2010-01-18,2010-05-12
8,SZ#002028,2013-04-19,2013-06-21,8.93,8.95,2013-05-21,11.51,2013-04-19,8.16,8.138801,2.429022,2013-04-19,2013-06-21
9,SZ#002028,2014-12-10,2015-06-29,10.66,13.88,2015-06-15,21.83,2014-12-30,9.73,23.270833,1.937500,2014-12-10,2015-06-29
10,SZ#002028,2016-12-28,2017-07-07,13.10,15.45,2017-06-08,17.48,2017-01-16,12.41,10.000000,1.575342,2016-12-28,2017-07-07
11,SZ#002028,2017-10-11,2017-11-24,18.26,15.78,2017-10-12,18.86,2017-11-24,15.22,1.226994,6.216769,2017-10-11,2017-11-24
12,SZ#002028,2018-05-08,2018-06-15,19.34,16.88,2018-05-18,19.89,2018-06-15,16.43,0.867508,4.589905,2018-05-08,2018-06-15

SZ#000584 regression cost time 59.4 seconds

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
0,SZ#002189,2009-12-03,2010-04-30,8.96,9.23,2010-04-12,11.74,2009-12-22,7.54,5.864979,2.995781,2009-12-03,2010-04-30
1,SZ#002189,2010-07-28,2010-10-18,12.09,11.01,2010-09-17,14.15,2010-10-18,10.86,3.399340,2.029703,2010-07-28,2010-10-18
2,SZ#002189,2010-11-08,2010-12-28,15.47,13.76,2010-11-25,17.69,2010-12-28,13.54,2.488789,2.163677,2010-11-08,2010-12-28
3,SZ#002189,2011-04-21,2011-04-28,18.02,14.83,2011-04-21,18.30,2011-04-28,13.96,0.387812,5.623269,2011-04-21,2011-04-28
4,SZ#002189,2014-05-06,2014-12-01,9.86,23.87,2014-10-29,34.92,2014-05-19,9.03,41.217105,1.365132,2014-05-06,2014-12-01
5,SZ#002189,2015-04-02,2015-06-26,36.88,32.79,2015-06-03,57.52,2015-04-29,31.82,10.611825,2.601542,2015-04-02,2015-06-26

SZ#002025 regression cost time 44.6 seconds
SZ#000006 regression cost time 55.2 seconds
SZ#002508 regression cost time 60.3 seconds
SZ#002187 regression cost time 30.6 seconds
SZ#002510 regression cost time 26.8 seconds
SZ#002350 regression cost time 18.6 seconds
SZ#000007 regression cost time 45.8 seconds
SZ#000810 regression cost time 73.4 seconds
SZ#002188 regression cost time 22.7 seconds
SZ#002511 regression cost time 23.0 seconds
SZ#000587 regression cost time 36.2 seconds
SZ#002026 regression cost time 44.5 seconds
SZ#002024 regression cost time 79.2 seconds
SZ#002189 regression cost time 21.2 seconds
SZ#000811 regression cost time 63.1 seconds
SZ#000586 regression cost time 53.6 seconds
SZ#000812 regression cost time 49.9 seconds
SZ#000813 regression cost time 40.4 seconds
SZ#000008 regression cost time 43.4 seconds
SZ#002027 regression cost time 35.0 seconds
SZ#000009 regression cost time 35.6 seconds
SZ#000589 regression cost time 38.2 seconds
SZ#000815 regression cost time 38.2 seconds
SZ#002028 regression cost time 47.0 seconds

,in_hand_asset_drawdown,loss_times,float_profit_drawdown,avg_year_return,year_regular_return,mean_year_return,std_year_return,mean_month_return,std_month_return,profit_month_rate,win_rate,mar,sharp,rar,deal_count
count,58.00000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,54.000000,54.000000,58.000000
mean,14.47000,4.603448,24.450345,17.479655,15.015517,5.921908,15.699154,1.883170,9.985849,55.033276,49.095172,4.448966,-0.247280,145.749278,17.672414
std,9.58826,2.463343,7.770715,37.730476,26.100301,7.013978,7.321722,2.644631,7.777619,9.884153,13.724200,17.478352,1.593847,974.257690,7.762682
min,1.99000,1.000000,12.180000,-2.830000,-2.730000,-5.144444,3.207159,-1.140833,1.391927,25.000000,21.050000,-0.160000,-4.853627,-1520.000000,4.000000
25%,8.89250,3.000000,19.545000,2.165000,2.140000,1.355417,9.551993,0.309722,5.704564,50.227500,40.000000,0.152500,-0.944366,-21.071429,11.000000
50%,12.58000,4.000000,22.870000,7.020000,6.750000,4.447374,15.083552,1.143816,7.746646,56.385000,50.000000,0.485000,0.148211,63.511905,18.000000
75%,16.83750,5.750000,27.520000,16.160000,15.782500,9.110000,19.874536,2.458215,11.389313,61.192500,56.917500,1.817500,0.965874,286.119048,22.500000
max,46.87000,12.000000,48.800000,254.310000,142.150000,28.995000,33.456820,12.858276,47.426684,75.000000,85.710000,119.390000,2.297779,6390.000000,35.000000