In [45]:
import datetime as dt
import time
import logging as log
from multiprocessing import Pool, TimeoutError

%run BreakSectionManager.ipynb
%run Util.ipynb
%run Constant.ipynb
%run Metric.ipynb
%run Operation.ipynb
%run Account.ipynb
%run Policy_Loader.ipynb
%run Evaluation.ipynb


class RocketRegression:
    
    def __init__(self, policy_name):
        self.policy_name = policy_name
        self.policy_loader = Policy_Loader(self.policy_name)
        self.debug = self.policy_loader.enabled_log_debug()
        self.context = self.policy_loader.get_context()
        
        self.level = self.context['level']
        self.short = self.context['short']
        self.mid = self.context['mid']
        
    def start_regression_on_one_stock(self,symbol,regression_end_date):
        start = time.time()
        sectionManager = BreakSectionManager(symbol,self.context)
        section_df = sectionManager.get_all_break_sections()
        section_df = section_df[section_df['d_s_datetime']<to_datetime(regression_end_date)]
        
        metric = Metric(symbol,self.context)
        
        stock_start_date = metric.get_stock_start_date()
        stock_end_date = metric.get_stock_end_date()
        log.info('stock_start_date ' + stock_start_date+' stock_end_date:'+stock_end_date)
        
        account = Account(stock_start_date,stock_end_date,self.context,self.policy_name)
        operation = Operation(account,symbol,self.context,self.policy_name)
        
        for key,row in section_df.iterrows():
            start_date = row['d_s_date']
            end_date = row['d_e_date']
            
            start_datetime = to_datetime(start_date)
            end_datetime = to_datetime(end_date)

            buy_price = metric.get_cur_price(start_date)
            
            if(self.debug==True):
                print('\nsection '+start_date+'===>'+end_date)
            while(start_datetime<=end_datetime):
                cur_date = start_datetime.strftime(YMD_format)
                
                if(metric.is_today_open(cur_date)):
                    account.daily_audit(cur_date)

                    if(account.can_open_new_stock()==True):
                        if(operation.is_buy_point(cur_date)==True):
                            operation.open_opsition(cur_date)

                    if(account.has_shares()==True):
                        if(operation.is_sell_point(cur_date)==True):
                            operation.sell_stock(cur_date)

                start_datetime += dt.timedelta(days = 1)
                    
        account.get_asset_df().to_csv(report_dir+symbol+'_'+str(self.short)+'_'+str(self.mid)+'_'+self.level+'_account_asset.csv',index=False)
        operation_df = operation.get_operations()
        
        evaluation = Evaluation(account,self.context,self.policy_name)
        evaluation_df = evaluation.get_evaluation_report(symbol,stock_start_date,stock_end_date,
                                                        self.policy_name,operation_df)

        end = time.time()
        if(self.debug==True):
            print(symbol+' regression cost time ' + str(round(end-start,1))+' seconds')
        return evaluation_df
    
    
    def start_regression(self,scale,regression_end_date,process_num):
        print('context:' + str(self.context))
        
        evaluation_df = pd.DataFrame(columns=evaluation_columns)
        symbols = get_symbols(scale)
        total = len(symbols) 
        
        pool = Pool(processes=process_num)
        tasks = []
        for symbol in symbols:
            task = pool.apply_async(self.start_regression_on_one_stock, (symbol,regression_end_date))
            tasks.append(task)
            
        for task in tasks:
            try:
                one_evaluation = task.get()
                evaluation_df = pd.concat([one_evaluation,evaluation_df], ignore_index=True, sort=False)
            except Exception as e:
                print(str(e))
        
        pool.close()
        pool.join()
        
        evaluation_df['loss_times'] =evaluation_df['loss_times'].astype('int')
        evaluation_df['deal_count'] =evaluation_df['deal_count'].astype('int')
        evaluation_df['r2'] =evaluation_df['r2'].astype('float')
        evaluation_df['rar'] =evaluation_df['rar'].astype('float')

        return evaluation_df

In [ ]:
regression = RocketRegression('rocket_break_baseline.json')

regression_end='2019-05-30'
scale=100
process_num=24
evaluation_df = regression.start_regression(scale,regression_end,process_num)
evaluation_df

context:{'short': 10, 'mid': 240, 'scale_start': 0, 'scale_end': 3, 'level': 'Day'}

In [44]:
evaluation_df.describe()

,max_drawdown,avg_year_return,loss_times,year_regular_return,mean_year_return,std_year_return,mean_month_return,std_month_return,profit_month_rate,win_rate,mar,sharp,rar,avg_drawdown,avg_drawdown_days,r2,deal_count
count,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.0
mean,53.870000,14.133333,3.666667,127.400000,4.862608,25.409691,3.032953,16.690402,48.540000,44.443333,0.250000,0.722375,-445.500000,46.165296,98.277778,-82.095632,12.0
std,6.881504,9.340516,1.154701,89.656304,3.096349,6.637886,2.632125,4.988439,4.741687,15.775919,0.145258,0.387547,386.584522,7.408123,72.035164,102.889485,4.0
min,45.960000,4.420000,3.000000,33.330000,1.861000,18.216018,0.911622,12.240651,43.240000,33.330000,0.100000,0.393286,-731.428571,38.200320,23.333333,-197.622634,8.0
25%,51.565000,9.675000,3.000000,85.165000,3.271056,22.465647,1.560144,13.994116,46.620000,35.415000,0.180000,0.508794,-665.416667,42.823159,63.916667,-122.981338,10.0
50%,57.170000,14.930000,3.000000,137.000000,4.681111,26.715277,2.208667,15.747581,50.000000,37.500000,0.260000,0.624301,-599.404762,47.445998,104.500000,-48.340043,12.0
75%,57.825000,18.990000,4.000000,174.435000,6.363413,29.006527,4.093619,18.915278,51.190000,50.000000,0.325000,0.886920,-302.535714,50.147784,135.750000,-24.332131,14.0
max,58.480000,23.050000,5.000000,211.870000,8.045714,31.297777,5.978571,22.082975,52.380000,62.500000,0.390000,1.149538,-5.666667,52.849570,167.000000,-0.324218,16.0