In [ ]:
%run SectionAnalyser.ipynb
%run Util.ipynb

sectionAnalyser = SectionAnalyser(scale=1, short=10, mid=30)

sectionAnalyser.build_sections_file_path('single_level',level_day)

In [ ]:
%run SectionAnalyser.ipynb
%run Util.ipynb

sectionAnalyser = SectionAnalyser(scale=500, short=10, mid=30)

week_sections_df = sectionAnalyser.get_all_sections_of_all_symbols(level_week)
week_sections_df


day_sections_df = sectionAnalyser.get_all_sections_of_all_symbols(level_day)
sectionAnalyser.get_price_incre_percent_report(day_sections_df)

In [ ]:
%run SectionAnalyser.ipynb
%run Util.ipynb
%run Metric.ipynb

short=30
mid=60
sectionAnalyser = SectionAnalyser(500, short, mid)


day_sections_df = sectionAnalyser.get_all_sections_of_all_symbols(level_day)
day_sections_df['entry_to_max_increase_per'] = 0

for key,row in day_sections_df.iterrows():
    metric = Metric(row['symbol'],level_day,short,mid)
    
    start_date = row['s_date']
    end_date = row['e_date']
    
    max_price_series = metric.get_max_price_date(start_date,end_date)
    highest_price = max_price_series['high']
    entry_price = metric.get_cur_price(start_date)
    
    entry_to_max_increase_percent = round(100*(highest_price-entry_price)/entry_price,2)
    
    day_sections_df.loc[key,'entry_to_max_increase_per'] = entry_to_max_increase_percent
    
    metric.clean_metric()


day_sections_df[['symbol','s_date','e_date','entry_to_max_increase_per']]

In [ ]:
%run ChanBiAnalyser.ipynb

part=day_sections_df[['symbol','s_date','e_date','entry_to_max_increase_per']]

all_chan_bi_df = pd.DataFrame()
for key,row in day_sections_df.iterrows():
    chanBiAnalyser = ChanBiAnalyser(row['symbol'],level_day,row['s_date'],row['e_date'],30,60)
    chan_bi_df = chanBiAnalyser.get_chan_bi()
    
    all_chan_bi_df = pd.concat([chan_bi_df,all_chan_bi_df], ignore_index=True, sort=False)
    
all_chan_bi_df

In [54]:
%run SectionAnalyser.ipynb
%run Util.ipynb
%run Metric.ipynb

short=30
mid=60
sectionAnalyser = SectionAnalyser(500, short, mid)

day_sections_df = sectionAnalyser.build_cross_resonate_on_week_and_day()
day_sections_df =  day_sections_df[day_sections_df['d_ma_short_dire']=='Up']

day_sections_df['entry_to_max_increase_per'] = 0

for key,row in day_sections_df.iterrows():
    metric = Metric(row['symbol'],level_day,short,mid)
    
    start_date = row['d_s_date']
    end_date = row['d_e_date']
    
    max_price_series = metric.get_max_price_date(start_date,end_date)
    highest_price = max_price_series['high']
    entry_price = metric.get_cur_price(start_date)
    
    entry_to_max_increase_percent = round(100*(highest_price-entry_price)/entry_price,2)
    
    day_sections_df.loc[key,'entry_to_max_increase_per'] = entry_to_max_increase_percent
    
    metric.clean_metric()


part=day_sections_df[['symbol','d_s_date','d_e_date','entry_to_max_increase_per']]
part

get_all_sections_of_all_symbols done total:1488
find all cross sections...
1.01% 2.01% 3.02% 4.02% 5.03% 6.03% 7.04% 8.04% 9.05% 10.05% 11.06% 12.06% 13.07% 14.07% 15.08% 16.08% 17.09% 18.09% 19.1% 20.1% 21.11% 22.11% 23.12% 24.12% 25.13% 26.13% 27.14% 28.14% 29.15% 30.15% 31.16% 32.16% 33.17% 34.17% 35.18% 36.18% 37.19% 38.19% 39.2% 40.2% 41.21% 42.21% 43.22% 44.22% 45.23% 46.23% 47.24% 48.24% 49.25% 50.25% 51.26% 52.26% 53.27% 54.27% 55.28% 56.28% 57.29% 58.29% 59.3% 60.3% 61.31% 62.31% 63.32% 64.32% 65.33% 66.33% 67.34% 68.34% 69.35% 70.35% 71.36% 72.36% 73.37% 74.37% 75.38% 76.38% 77.39% 78.39% 79.4% 80.4% 81.41% 82.41% 83.42% 84.42% 85.43% 86.43% 87.44% 88.44% 89.45% 90.45% 91.46% 92.46% 93.47% 94.47% 95.48% 96.48% 97.49% 98.49% 99.5%

/Users/xinwang/ai/lib/python3.6/site-packages/ipykernel_launcher.py:24: RuntimeWarning: divide by zero encountered in double_scalars

         symbol    d_s_date    d_e_date  entry_to_max_increase_per
1     SZ#300158  2013-08-27  2013-10-21                      12.26
2     SZ#300158  2013-10-22  2014-04-14                      29.48
3     SZ#300158  2014-07-04  2014-11-27                      32.12
4     SZ#300158  2015-03-06  2016-01-07                      49.85
5     SZ#300158  2016-04-12  2016-06-14                       5.26
6     SZ#300158  2016-06-29  2017-01-09                      41.65
7     SZ#300158  2017-02-21  2017-03-17                       2.75
8     SZ#300158  2017-04-14  2017-04-20                       1.57
9     SZ#300158  2017-07-28  2017-11-01                       4.62
10    SZ#002654  2013-08-19  2014-03-28                      59.01
11    SZ#002654  2014-06-17  2014-11-24                      44.50
12    SZ#002654  2015-02-17  2015-11-27                     249.69
13    SZ#002654  2015-12-24  2016-03-04                      28.36
15    SZ#002654  2017-03-09  2017-04-19                       3.21
16    SZ#002440  2013-05-27  2013-11-06                      82.02
17    SZ#002440  2013-12-12  2014-05-20                      49.45
18    SZ#002440  2014-08-15  2014-10-23                       9.83
19    SZ#002440  2015-11-13  2016-01-08                      16.03
20    SZ#002440  2017-12-26  2018-04-23                      28.43
21    SZ#002440  2018-06-05  2018-06-27                       2.42
22    SZ#002226  2013-11-21  2014-01-08                       2.30
23    SZ#002226  2015-11-25  2016-01-12                       3.86
24    SZ#002226  2016-03-16  2016-05-17                      36.29
25    SZ#002226  2017-03-17  2017-04-27                      10.40
26    SZ#002013  2006-04-25  2006-08-30                     163.16
27    SZ#002013  2006-09-29  2006-11-23                       8.89
28    SZ#002013  2007-01-25  2007-10-11                     278.57
29    SZ#002013  2008-01-03  2008-03-04                       4.69
30    SZ#002013  2009-08-03  2009-09-11                       3.88
31    SZ#002013  2009-11-12  2010-05-28                      62.60
...         ...         ...         ...                        ...
3782  SZ#000652  2009-11-05  2010-01-18                      17.15
3783  SZ#000652  2010-03-17  2010-06-07                      30.73
3784  SZ#000652  2010-08-25  2011-07-20                      20.66
3785  SZ#000652  2013-09-02  2014-01-22                      31.81
3786  SZ#000652  2014-02-27  2014-04-04                       7.03
3787  SZ#000652  2014-07-31  2015-02-25                     113.65
3788  SZ#000652  2015-03-05  2015-07-16                      94.61
3789  SZ#000652  2015-11-11  2015-12-28                       8.63
3790  SZ#000652  2015-03-05  2015-07-16                      94.61
3791  SZ#000652  2015-11-11  2015-12-28                       8.63
3792  SZ#000652  2017-03-01  2017-06-09                      21.01
3793  SZ#000652  2017-09-07  2017-10-24                       1.32
3794  SZ#000001  2003-03-03  2003-06-25                      31.10
3795  SZ#000001  2006-04-14  2006-08-01                      54.55
3796  SZ#000001  2006-04-19  2006-08-01                      53.00
3797  SZ#000001  2006-09-21  2007-12-12                     965.29
3798  SZ#000001  2006-09-25  2007-12-12                     992.37
3800  SZ#000001  2006-09-21  2007-12-12                     965.29
3801  SZ#000001  2006-09-25  2007-12-12                     992.37
3803  SZ#000001  2009-11-04  2010-01-11                       5.80
3804  SZ#000001  2010-03-24  2010-04-23                       5.19
3805  SZ#000001  2011-12-02  2011-12-08                       1.39
3806  SZ#000001  2013-06-19  2013-06-21                       1.92
3807  SZ#000001  2013-09-03  2013-12-30                      32.48
3808  SZ#000001  2014-05-12  2014-10-09                      20.91
3809  SZ#000001  2014-11-11  2015-02-26                      48.90
3810  SZ#000001  2015-04-01  2015-06-26                      34.35
3811  SZ#000001  2015-11-11  2016-01-12                       1.89
3812  SZ#000001  2017-02-27  2017-04-11                       1.31
3813  SZ#000001  2017-06-23  2018-03-06                      68.53

[3476 rows x 4 columns]

In [64]:
bins=[-100,50,100,20000]
cuts = pd.cut(part['entry_to_max_increase_per'],bins)

total = part.shape[0]
print('total ' + str(total))


df = pd.DataFrame(columns=['bin','max_increase_per'])
df['bin'] = pd.value_counts(cuts).index
df['max_increase_per'] = pd.value_counts(cuts).values
df['max_increase_per'] = round(100*df['max_increase_per']/total,2)

df

total 3476

            bin  max_increase_per
0    (-100, 50]             74.60
1  (100, 20000]             13.12
2     (50, 100]             11.68

In [ ]:

bins=[-100,50,100,20000]
cuts = pd.cut(part['entry_to_max_increase_per'],bins)

total = part.shape[0]
print('total ' + str(total))


df = pd.DataFrame(columns=['bin','max_increase_per'])
df['bin'] = pd.value_counts(cuts).index
df['max_increase_per'] = pd.value_counts(cuts).values
df['max_increase_per'] = round(100*df['max_increase_per']/total,2)

df

In [ ]:
%run SectionAnalyser.ipynb
%run Util.ipynb

sectionAnalyser = SectionAnalyser(scale=3, short=30, mid=60)
bi_df = sectionAnalyser.split_sections_into_chan_bi(level_day)
bi_df

In [ ]:
resonate_df = sectionAnalyser.get_cross_resonate_on_week_and_day()
resonate_df

In [ ]:
def report(df):
    avg_percent = df['d_price_incre'].mean()
    print('avg d_price_incre:' + str(avg_percent))
    
    for threshold in [10,20,40,60,80]:
        over_count = df[df['d_price_incre'] > threshold].shape[0]
        total = df.shape[0]

        if(total>0):
            rate = 100*over_count/total
            print('threshold '+ str(threshold) + ', over count size:'+ str(over_count) +
                  ' total size:'+str(total) + ' rate ' +str(rate))    

                    
report(resonate_df[(resonate_df['d_ma_mid_dire']=='Up')])

In [ ]:
d_boll_up_resonate_df = resonate_df[(resonate_df['d_boll']==True) & (resonate_df['d_ma_short_dire']=='Up')]

for threshold in [10,20,40,60,80]:
            over_count = d_boll_up_resonate_df[d_boll_up_resonate_df['d_price_incre'] > threshold].shape[0]
            total = d_boll_up_resonate_df.shape[0]

            if(total>0):
                rate = 100*over_count/total
                print('threshold '+ str(threshold) + ', over count size:'+ str(over_count) +
                      ' total size:'+str(total) + ' rate ' +str(rate))