In [2]:
%run BreakSectionManager.ipynb

symbol = 'SZ#002161'
sectionManager = BreakSectionManager(symbol, level_day, 10, 30)
sections = sectionManager.get_all_break_sections()

sections

build SZ#002161 break sections
start to analyse Day level SZ#002161 all break sections...

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
1,SZ#002161,2008-01-02,2008-01-22,4.17,3.82,2008-01-15,4.82,2008-01-02,3.94,4.304636,1.523179,2008-01-02,2008-01-22
2,SZ#002161,2008-02-15,2008-03-18,5.15,4.97,2008-03-10,6.01,2008-02-26,4.74,2.621951,1.250000,2008-02-15,2008-03-18
3,SZ#002161,2008-03-24,2008-04-21,6.24,4.93,2008-03-28,6.74,2008-03-26,5.92,1.016260,0.650407,2008-03-24,2008-04-21
4,SZ#002161,2008-06-05,2008-08-05,6.37,5.20,2008-06-10,7.33,2008-06-05,6.01,2.790698,1.046512,2008-06-05,2008-08-05
5,SZ#002161,2008-11-13,2009-02-18,3.05,3.62,2009-02-11,4.21,2008-11-13,2.72,5.888325,1.675127,2008-11-13,2009-02-18
6,SZ#002161,2009-03-25,2009-06-29,4.39,5.88,2009-06-09,6.69,2009-03-25,4.04,8.846154,1.346154,2009-03-25,2009-06-29
7,SZ#002161,2009-07-13,2009-07-29,6.97,6.45,2009-07-14,7.54,2009-07-13,6.32,1.803797,2.056962,2009-07-13,2009-07-29
8,SZ#002161,2009-09-15,2009-11-26,7.07,8.43,2009-09-21,10.34,2009-09-15,6.46,11.010101,2.053872,2009-09-15,2009-11-26
9,SZ#002161,2010-01-12,2010-02-01,9.10,7.75,2010-01-19,9.66,2010-01-12,8.52,1.564246,1.620112,2010-01-12,2010-02-01
10,SZ#002161,2010-08-06,2010-09-21,7.22,7.80,2010-09-06,9.41,2010-08-12,6.71,7.711268,1.795775,2010-08-06,2010-09-21
11,SZ#002161,2010-10-13,2010-11-17,9.55,9.90,2010-11-11,12.36,2010-10-13,8.83,5.445736,1.395349,2010-10-13,2010-11-17
12,SZ#002161,2010-12-10,2010-12-27,13.21,12.07,2010-12-14,14.35,2010-12-10,12.01,1.437579,1.513241,2010-12-10,2010-12-27
13,SZ#002161,2011-07-05,2011-07-25,11.32,10.42,2011-07-18,11.95,2011-07-05,10.99,1.547912,0.810811,2011-07-05,2011-07-25
14,SZ#002161,2011-11-11,2011-11-30,10.16,9.07,2011-11-14,10.47,2011-11-11,9.67,0.636550,1.006160,2011-11-11,2011-11-30
15,SZ#002161,2012-02-13,2012-03-14,8.92,9.20,2012-02-22,10.08,2012-02-13,8.59,3.647799,1.037736,2012-02-13,2012-03-14
16,SZ#002161,2012-04-24,2012-05-14,9.89,8.93,2012-04-24,9.89,2012-04-24,9.22,0.000000,1.735751,2012-04-24,2012-05-14
17,SZ#002161,2012-08-07,2012-08-27,8.29,7.81,2012-08-21,8.57,2012-08-20,7.92,1.098039,1.450980,2012-08-07,2012-08-27
18,SZ#002161,2013-01-07,2013-03-12,6.20,7.78,2013-03-07,8.71,2013-01-07,5.93,12.125604,1.304348,2013-01-07,2013-03-12
19,SZ#002161,2013-05-20,2013-06-24,8.28,7.80,2013-05-30,10.58,2013-05-20,7.92,9.274194,1.451613,2013-05-20,2013-06-24
20,SZ#002161,2013-07-22,2013-08-16,10.26,9.19,2013-07-24,11.20,2013-07-22,9.37,1.540984,1.459016,2013-07-22,2013-08-16
21,SZ#002161,2013-10-21,2013-10-25,10.74,9.17,2013-10-21,11.12,2013-10-21,10.07,0.716981,1.264151,2013-10-21,2013-10-25
22,SZ#002161,2014-02-12,2014-03-10,8.60,7.57,2014-02-18,9.31,2014-02-14,8.14,2.390572,1.548822,2014-02-12,2014-03-10
23,SZ#002161,2014-06-23,2014-07-24,7.06,7.12,2014-06-27,8.08,2014-06-23,6.82,5.000000,1.176471,2014-06-23,2014-07-24
24,SZ#002161,2014-09-10,2014-10-22,8.04,8.04,2014-10-10,9.03,2014-09-17,7.58,5.439560,2.527473,2014-09-10,2014-10-22
25,SZ#002161,2015-01-22,2015-06-16,8.98,24.88,2015-06-03,32.84,2015-01-22,8.44,73.869969,1.671827,2015-01-22,2015-06-16
26,SZ#002161,2015-10-16,2015-12-31,15.78,22.28,2015-12-04,27.36,2015-10-22,14.04,12.451613,1.870968,2015-10-16,2015-12-31
27,SZ#002161,2016-03-18,2016-04-20,16.15,14.52,2016-03-28,18.28,2016-03-18,14.58,2.145015,1.581067,2016-03-18,2016-04-20
28,SZ#002161,2017-04-06,2017-04-21,11.20,9.91,2017-04-10,11.45,2017-04-06,10.07,0.868056,3.923611,2017-04-06,2017-04-21
29,SZ#002161,2017-07-04,2017-09-01,8.98,12.00,2017-08-02,13.45,2017-07-04,8.13,17.667984,3.359684,2017-07-04,2017-09-01
30,SZ#002161,2017-09-08,2017-09-25,13.62,11.30,2017-09-08,13.90,2017-09-08,12.76,0.480274,1.475129,2017-09-08,2017-09-25
31,SZ#002161,2018-06-14,2018-07-11,10.42,8.83,2018-06-21,11.25,2018-06-19,8.91,1.180654,2.147937,2018-06-14,2018-07-11

In [36]:
%run BreakSectionManager.ipynb

symbol = 'SZ#002161'
sectionManager = BreakSectionManager(symbol, level_day, 10, 30)
sections = sectionManager.get_all_break_sections()
sections

build SZ#002161 break sections
start to analyse Day level SZ#002161 all break sections...

,symbol,d_s_date,d_e_date,d_s_price,d_e_price,highest_date,highest_price,lowest_date,lowest_price,mfe,mae,d_s_datetime,d_e_datetime
1,SZ#002161,2008-01-02,2008-01-22,4.17,3.82,2008-01-15,4.82,2008-01-22,3.81,4.304636,2.384106,2008-01-02,2008-01-22
2,SZ#002161,2008-02-15,2008-03-18,5.15,4.97,2008-03-10,6.01,2008-02-26,4.74,2.621951,1.250000,2008-02-15,2008-03-18
3,SZ#002161,2008-03-24,2008-04-21,6.24,4.93,2008-03-28,6.74,2008-04-21,4.87,1.016260,2.784553,2008-03-24,2008-04-21
4,SZ#002161,2008-06-05,2008-08-05,6.37,5.20,2008-06-10,7.33,2008-08-05,5.19,2.790698,3.430233,2008-06-05,2008-08-05
5,SZ#002161,2008-11-13,2009-02-18,3.05,3.62,2009-02-11,4.21,2008-11-13,2.72,5.888325,1.675127,2008-11-13,2009-02-18
6,SZ#002161,2009-03-25,2009-06-29,4.39,5.88,2009-06-09,6.69,2009-03-25,4.04,8.846154,1.346154,2009-03-25,2009-06-29
7,SZ#002161,2009-07-13,2009-07-29,6.97,6.45,2009-07-14,7.54,2009-07-29,6.20,1.803797,2.436709,2009-07-13,2009-07-29
8,SZ#002161,2009-09-15,2009-11-26,7.07,8.43,2009-09-21,10.34,2009-09-15,6.46,11.010101,2.053872,2009-09-15,2009-11-26
9,SZ#002161,2010-01-12,2010-02-01,9.10,7.75,2010-01-19,9.66,2010-02-01,7.73,1.564246,3.826816,2010-01-12,2010-02-01
10,SZ#002161,2010-08-06,2010-09-21,7.22,7.80,2010-09-06,9.41,2010-08-12,6.71,7.711268,1.795775,2010-08-06,2010-09-21
11,SZ#002161,2010-10-13,2010-11-17,9.55,9.90,2010-11-11,12.36,2010-10-13,8.83,5.445736,1.395349,2010-10-13,2010-11-17
12,SZ#002161,2010-12-10,2010-12-27,13.21,12.07,2010-12-14,14.35,2010-12-10,12.01,1.437579,1.513241,2010-12-10,2010-12-27
13,SZ#002161,2011-07-05,2011-07-25,11.32,10.42,2011-07-18,11.95,2011-07-25,10.17,1.547912,2.825553,2011-07-05,2011-07-25
14,SZ#002161,2011-11-11,2011-11-30,10.16,9.07,2011-11-14,10.47,2011-11-30,8.74,0.636550,2.915811,2011-11-11,2011-11-30
15,SZ#002161,2012-02-13,2012-03-14,8.92,9.20,2012-02-22,10.08,2012-02-13,8.59,3.647799,1.037736,2012-02-13,2012-03-14
16,SZ#002161,2012-04-24,2012-05-14,9.89,8.93,2012-04-24,9.89,2012-05-14,8.92,0.000000,2.512953,2012-04-24,2012-05-14
17,SZ#002161,2012-08-07,2012-08-27,8.29,7.81,2012-08-21,8.57,2012-08-27,7.80,1.098039,1.921569,2012-08-07,2012-08-27
18,SZ#002161,2013-01-07,2013-03-12,6.20,7.78,2013-03-07,8.71,2013-01-07,5.93,12.125604,1.304348,2013-01-07,2013-03-12
19,SZ#002161,2013-05-20,2013-06-24,8.28,7.80,2013-05-30,10.58,2013-06-24,7.72,9.274194,2.258065,2013-05-20,2013-06-24
20,SZ#002161,2013-07-22,2013-08-16,10.26,9.19,2013-07-24,11.20,2013-07-30,9.17,1.540984,1.786885,2013-07-22,2013-08-16
21,SZ#002161,2013-10-21,2013-10-25,10.74,9.17,2013-10-21,11.12,2013-10-25,9.08,0.716981,3.132075,2013-10-21,2013-10-25
22,SZ#002161,2014-02-12,2014-03-10,8.60,7.57,2014-02-18,9.31,2014-03-10,7.54,2.390572,3.569024,2014-02-12,2014-03-10
23,SZ#002161,2014-06-23,2014-07-24,7.06,7.12,2014-06-27,8.08,2014-06-23,6.82,5.000000,1.176471,2014-06-23,2014-07-24
24,SZ#002161,2014-09-10,2014-10-22,8.04,8.04,2014-10-10,9.03,2014-09-17,7.58,5.439560,2.527473,2014-09-10,2014-10-22
25,SZ#002161,2015-01-22,2015-06-16,8.98,24.88,2015-06-03,32.84,2015-01-22,8.44,73.869969,1.671827,2015-01-22,2015-06-16
26,SZ#002161,2015-10-16,2015-12-31,15.78,22.28,2015-12-04,27.36,2015-10-22,14.04,12.451613,1.870968,2015-10-16,2015-12-31
27,SZ#002161,2016-03-18,2016-04-20,16.15,14.52,2016-03-28,18.28,2016-04-20,14.13,2.145015,2.034240,2016-03-18,2016-04-20
28,SZ#002161,2017-04-06,2017-04-21,11.20,9.91,2017-04-10,11.45,2017-04-21,9.83,0.868056,4.756944,2017-04-06,2017-04-21
29,SZ#002161,2017-07-04,2017-09-01,8.98,12.00,2017-08-02,13.45,2017-07-04,8.13,17.667984,3.359684,2017-07-04,2017-09-01
30,SZ#002161,2017-09-08,2017-09-25,13.62,11.30,2017-09-08,13.90,2017-09-25,11.30,0.480274,3.979417,2017-09-08,2017-09-25
31,SZ#002161,2018-06-14,2018-07-11,10.42,8.83,2018-06-21,11.25,2018-07-11,8.69,1.180654,2.460882,2018-06-14,2018-07-11