In [26]:
%run Util.ipynb
%run Metric.ipynb

import pandas as pd

symbol='SH#999999'
metric = Metric(symbol,level_day,30,60)

metric.get_latest_price('2000-02-25')

yester = metric.yesterday('2001-02-12')
print(str(yester))

print('------------------------')
art_value = metric.art('2001-02-12')
print('art_value '+str(art_value))

           date     open     high      low    close    volume        amount  \
238  2001-02-09  1935.18  1963.32  1935.18  1956.97  11237019  8.405288e+09

      datetime  year  week
238 2001-02-09  2001     6
------------------------
cur_tr 38.24000000000001
yester_high_tr 13.5
yester_low_tr 24.74000000000001
values [38.24000000000001, 13.5, 24.74000000000001]
cur_tr 16.940000000000055
yester_high_tr 2.8099999999999454
yester_low_tr 14.13000000000011
values [16.940000000000055, 2.8099999999999454, 14.13000000000011]
cur_tr 15.779999999999973
yester_high_tr 14.769999999999982
yester_low_tr 1.009999999999991
values [15.779999999999973, 14.769999999999982, 1.009999999999991]
cur_tr 21.329999999999927
yester_high_tr 24.75999999999999
yester_low_tr 3.4300000000000637
values [21.329999999999927, 24.75999999999999, 3.4300000000000637]
cur_tr 66.8599999999999
yester_high_tr 6.940000000000055
yester_low_tr 59.919999999999845
values [66.8599999999999, 6.940000000000055, 59.919999999999845]
cur_tr 43.549999999999955
yester_high_tr 8.309999999999945
yester_low_tr 51.8599999999999
values [43.549999999999955, 8.309999999999945, 51.8599999999999]
cur_tr 19.660000000000082
yester_high_tr 2.9400000000000546
yester_low_tr 16.720000000000027
values [19.660000000000082, 2.9400000000000546, 16.720000000000027]
cur_tr 60.49000000000001
yester_high_tr 6.960000000000036
yester_low_tr 53.52999999999997
values [60.49000000000001, 6.960000000000036, 53.52999999999997]
cur_tr 28.139999999999873
yester_high_tr 33.18999999999983
yester_low_tr 5.0499999999999545
values [28.139999999999873, 33.18999999999983, 5.0499999999999545]
cur_tr 26.230000000000018
yester_high_tr 4.839999999999918
yester_low_tr 21.3900000000001
values [26.230000000000018, 4.839999999999918, 21.3900000000001]
art_value 35.400999999999975

In [ ]:
%run Util.ipynb
%run Metric.ipynb

import pandas as pd

symbol='SZ#002591'


metric = Metric(symbol,level_day,30,60)


for date in ['2019-01-02','2019-01-03','2019-01-04','2019-01-07','2019-01-08',
            '2019-01-09','2019-01-10','2019-01-11','2019-01-14','2019-01-15',
             '2019-01-16','2019-01-17']:
    print(date+ ' ' +metric.ma_direction(date, 30)+'\n')

In [8]:
%run Util.ipynb
%run Metric.ipynb

import pandas as pd

symbol='SZ#300128'
metric = Metric(symbol,level_day,30,60)
killed = metric.be_killed('2016-06-23','2016-08-17',10)
killed

True