In [5]:
from multiprocessing import Pool, TimeoutError

%run ProRocketRegression.ipynb

display_columns = ['start_date','end_date','scale_start','scale_end','in_hand_asset_drawdown','avg_drawdown',
               'float_profit_drawdown','avg_year_return','year_regular_return','mean_year_return',
               'mean_month_return','profit_month_rate']

# 单支股票对于不同周期测试
def simulate(scale_start,scale_end,start_date,end_date,draw_pic=False):
    policy_name='rocket_break_v7_upgrade_honor_account_v0.3.json'
    
    print('simulate scale_start:'+str(scale_start)+' scale_end:'+str(scale_end)+' start_date:'+start_date+" end_date:"+end_date)
    
    regression = ProRocketRegression(scale_start,scale_end,start_date,end_date,policy_name)

    evaluation_df = regression.start_regression()
    
    if(draw_pic==True):
        plt.rc('figure', figsize=(14,8))
        regression.account.asset['assets'].plot(kind='bar')
        plt.show()

        plt.rc('figure', figsize=(14,8))
        regression.account.asset['space_per'].plot(kind='bar')
        plt.show()
    
    return evaluation_df
    

def parallel_run(process_num,max_stocks):
    pool = Pool(processes=process_num)
    
    start_1 = '2000-01-01'
    end_1 = '2010-01-01'
    start_2 = '2010-01-01'
    end_2 = '2019-01-01'
    
    tasks = []
    for i in range(0,max_stocks):
        task = pool.apply_async(simulate, (i,i+1,start_1,end_1))
        tasks.append(task)
        task = pool.apply_async(simulate, (i,i+1,start_2,end_2))
        tasks.append(task)

    evaluation_df = pd.DataFrame(columns=evaluation_columns)
    for task in tasks:
        try:
            one_evaluation = task.get()
            evaluation_df = pd.concat([one_evaluation,evaluation_df], ignore_index=True, sort=False)
            display(evaluation_df[display_columns])
        except Exception as e:
            print(str(e))

    pool.close()
    pool.join()

    return evaluation_df
    
    
evaluation_df = parallel_run(24,100)
evaluation_df.T

simulate scale_start:0 scale_end:1 start_date:2010-01-01 end_date:2019-01-01
simulate scale_start:0 scale_end:1 start_date:2000-01-01 end_date:2010-01-01
regression start scale[0,1]
regression start scale[0,1]
2010-02-28 2011-02-28 2012-02-28 2013-02-28 2014-02-28 2015-02-28 2016-02-28 2017-02-28 2018-02-28 regression done !
simulate scale_start:1 scale_end:2 start_date:2000-01-01 end_date:2010-01-01
regression start scale[1,2]
2000-02-28 2001-02-28 2002-02-28 2003-02-28 2004-02-28 2005-02-28 2006-02-28 2007-02-28 2008-02-28 2009-02-28 regression done !
simulate scale_start:1 scale_end:2 start_date:2010-01-01 end_date:2019-01-01

,start_date,end_date,scale_start,scale_end,in_hand_asset_drawdown,avg_drawdown,float_profit_drawdown,avg_year_return,year_regular_return,mean_year_return,mean_month_return,profit_month_rate
0,2000-01-01,2010-01-01,0.0,1.0,1.85,1.850417,11.0,4.71,3.89,1.269,0.077899,95.8

,start_date,end_date,scale_start,scale_end,in_hand_asset_drawdown,avg_drawdown,float_profit_drawdown,avg_year_return,year_regular_return,mean_year_return,mean_month_return,profit_month_rate
0,2010-01-01,2019-01-01,0.0,1.0,7.21,7.212365,12.97,-0.96,-1.01,-0.665556,-0.033611,90.74
1,2000-01-01,2010-01-01,0.0,1.0,1.85,1.850417,11.00,4.71,3.89,1.269000,0.077899,95.80

regression start scale[1,2]
attempt to get argmax of an empty sequence
2010-02-28 2011-02-28 2012-02-28 2013-02-28 2014-02-28 2015-02-28 2016-02-28 2017-02-28 2018-02-28 regression done !

,start_date,end_date,scale_start,scale_end,in_hand_asset_drawdown,avg_drawdown,float_profit_drawdown,avg_year_return,year_regular_return,mean_year_return,mean_month_return,profit_month_rate
0,2010-01-01,2019-01-01,1.0,2.0,6.49,6.487800,10.56,7.97,7.40,3.195556,0.290093,92.59
1,2010-01-01,2019-01-01,0.0,1.0,7.21,7.212365,12.97,-0.96,-1.01,-0.665556,-0.033611,90.74
2,2000-01-01,2010-01-01,0.0,1.0,1.85,1.850417,11.00,4.71,3.89,1.269000,0.077899,95.80

2000-02-28 2001-02-28 2002-02-28 2003-02-28 2004-02-28 2005-02-28 2006-02-28 2007-02-28 2008-02-28 2009-02-28

,symbol,start_date,end_date,policy_name,short,mid,in_hand_asset_drawdown,avg_drawdown,loss_times,float_profit_drawdown,...,mean_month_return,std_month_return,profit_month_rate,win_rate,mar,sharp,rar,deal_count,scale_start,scale_end
0,all_symbols,2010-01-01,2019-01-01,rocket_break_v7_upgrade_honor_account_v0.3.json,30,240,6.49,6.487800,0,10.56,...,0.290093,3.680701,92.59,0,1.23,-0.577902,119.761905,0,1.0,2.0
1,all_symbols,2010-01-01,2019-01-01,rocket_break_v7_upgrade_honor_account_v0.3.json,30,240,7.21,7.212365,0,12.97,...,-0.033611,1.478065,90.74,0,-0.13,-7.903330,-3.095238,0,0.0,1.0
2,all_symbols,2000-01-01,2010-01-01,rocket_break_v7_upgrade_honor_account_v0.3.json,30,240,1.85,1.850417,0,11.00,...,0.077899,1.136779,95.80,0,2.55,-3.385309,22.333333,0,0.0,1.0